In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch.02 자료형과 연산자</font><b>

# 5절. 연산자
## 5.1 산술 연산자: +,-*,/(결과 float),//(몫연산자),%(나머지),**(제곱)

In [ ]:
print("10*5승 =",10**5)
print("4/2(결과 실수)", 4/2)

In [ ]:
# 더하기,빼기,곱하기에선 정수와 정수의 계산은 정수로 반환된다.
# 정수와 실수,실수끼리의 연산 결과는 실수
print(4+2)
print("5/2(결과 실수)", 5/2)
print("5//2(몫) : ",5//2)
print("5%2(나머지) : ", 5%2)

In [ ]:
# quiz1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input("정수를 입력하세요 : "))

if num==0:
    
    print("0은 짝수도 홀수도 아닙니다.")

else:
    result = num %2 # -1, 0, 1
    if result:
        
        temp= "홀수"
    
    else:
        
        temp="짝수"

    print(f"입력하신 수는{num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다.")

In [ ]:
# quiz2. 정수를 입력받아 5의 배수인지 여부를 출력
num=int(input("정수를 입력하세요 : "))
result=num%5
if result:
    
    temp="5의 배수가 아닙니다."

else:
    
    temp="5의 배수입니다"

print(f"입력하신수는 {num}이고 {temp}")

In [ ]:
# quiz3. 국, 영, 수 점수를 입력받아 다음 셀어서 다음과 같이 출력하도록 구현하시오
kor=int(input("국어점수를 입력하세요 : "))
eng=int(input("영어점수를 입력하세요 : "))
mat=int(input("수학점수를 입력하세요 : "))
sum_=(kor+eng+mat)
avg_=sum_/3

print(f"국어: {kor:3d} \t 영어: {eng:3d} \t 수학: {mat:3d}")
print(f"총점: {sum_:3d} \t 평균: {avg_:5.1f}")

## 5.2 할당 연산자 : =,+=, -=, /=, *=, //=, %=

In [ ]:
a = 10
a += 5 # a = a + 5와 동일
print(f"a = {a}")

In [ ]:
a -= 5 # a = a - 5와 동일
print(f"5빼기 : {a}") #10
a *= 10 # a = a * 10
print(f"10배 : {a}") #100
a //= 5 # a = a // 5
print(f"5로 나눈 몫 : {a}") #20

## 5.3 논리 연산자 : &, and, |, or, not

In [ ]:
# & : 논리연산자, 비트연산자
print((10 > 3) & (10 > 5)) #논리연산 true & true
print(12 & 1) # 비트 연산 1 1 0 0 (12)
#                        0 0 0 1 (1)
#                      &:0 0 0 0

In [ ]:
# and : 논리연산자. False로 판별되는 첫번째 항의 결과 반환
#         모든 항이 True면, 마지막 항의 결과 반환
print((10 > 3) and (10 > 5))
print(12 and 1)

In [ ]:
# | : 논리연산, 비트연산
result= True|False
print('논리연산(연산자 앞뒤가 논리형일 때) : ',result)
result= False | 3 # False를 0으로 보기에 0000 (0)
                                    #  0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때):', result)

In [ ]:
# or : 논리연산. 참으로 판단되는 첫번째 항의 결과 반환
    #모든 항이 거짓이면 마지막항의 결과 반환
print(False or 0 or '' or None or [])
print(False or 0 or 'hong' or None or [])

In [ ]:
not 10 >5

## 5.3 비교 연산자: >, >=, <, <=, ==(같다), !=(다르다) 
- 우선 순위가 낮음

In [ ]:
# 비교연산자는 이항, 삼항, 사항, ..... 다항연산자
x = 95
print((90 <= x) & (x <= 100))
print(90 <= x <= 100)
print(90 <= x <= 100 > 10)

In [ ]:
# 비교연산자의 우선순위가 비트연산자(|,&)의 우선순위보다 낮다
print((10 > 5) & (10 > 7))
print(10 > 5 & 10 > 7) # 괄호를 제거하면 우선순위가 높은 5 & 10 을 먼저 계산
print(10 > 0 > 7) # 위의 식 비트연산자 결과 후 비교연산
# 0101(5) & 1010(10)

In [ ]:
address="목동"
age=29
print((address=="목동") & (age<=30))
print(address=="목동" and age<=30) # 단 and,or는 비교연산자보다 우선순위가 떨어진다

In [ ]:
# 문자는 ASCII 코드 순으로 비교: 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
'scott' < 'tiger'

In [ ]:
'김길동'<'홍길동' # 문자끼리 비교는 오름차순 정렬로 비교하여 뒤로 갈수록 크다

## 5.5 비트연산: &, |, ^(XOR), ~(반대)

```
x     y      x&y        x|y       x^y       ~x
---------------------------------------------------
0     0        0         0         0         1
0     1        0         1         1         1
1     0        0         1         1         0
1     1        1         1         0         0

```

In [ ]:
a = 15 # 1111 (8 + 4+ 2+ 1)
b = 2  # 0010 

print("a = {0:2} : {0:4b}".format(a))
print("b = {0:2} : {0:04b}".format(b))
print("a & b = {0:2} : {0:04b}".format(a&b))
print("a | b = {0:2} : {0:04b}".format(a|b))
print("a ^ b = {0:2} : {0:04b}".format(a^b))

# 6절 문자열 다루기
- 문자열변수[from:to:step] : 일부 문자 추출
- len(문자열변수) : 문자수

- 변수.upper() : 대문자로
- 변수.lower() : 소문자로
- 변수.title() : 각 어절의 앞글자만 대문자로
- capitalize() : 첫 문자만 대문자, 나머지는 그대로
- count("찾을문자{열}") : "찾을 문자{열}"이 몇개 들어있는지 갯수 반환
- find("찾을문자{열}") : "찾을 문자{열}"이 몇 번째에 있는지 index를 반환(없으면 -1)
- rfind("찾을문자{열}") : "찾을 문자{열}"이 오른쪽부터 몇 번째에 있는지 index를 반롼(없으면 -1)
     cf. index("찾을 문자{열}") : "찾을 문자{열}이 몇번쨰에 있는지 index를 반환(없으면 error)
- startswitch("특정문자{열}") : "특정문자{열}" 로 시작하는지 여부 반환(True, False)
- endswith("특정문자{열}") : "특정문자{열}" 로 끝나는지 여부 반환(True, False)

- strip() : 좌우공백제거(trim)
- lstrip() : 왼쪽 공백제거
- rstrip() : 오른쪽 공백제거
- <span style="color:red">split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환</span>
- **isdigit() : 문자열이 숫자문자열인지 여부 반환**
- islower() : 문자열이 소문자인지 여부 반환
- isupper() : 문자열이 대문자인지 여부 반환
- replace(oldStr, newStr): oldStr을 newStr로 변경

In [ ]:
int("1,000".replace(",",""))

temp = "python is easy. python is smart. python"
       #012345678901234567890123
temp, len(temp)

In [ ]:
print("대문자로 : ",temp.upper())
print("소문자로 : ",temp.lower())
print("title() : ",temp.title())
print("capitalize() : ",temp.capitalize())
print("C이 몇번 나오는지 : ",temp.count("C"))
print("python이 몇 번 나오는지 : ",temp.count("python"))
print("python이 몇 번 나오는지 : ",temp.count("Python")) # count는 대소문자 구분함
# 대소문자 구분없이 쓰는 방법
print("대소문자 구분없이 python이 몇번 : ",temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번 : ",temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번 : ",temp.title().count("Python"))
print("python이 나오는 첫 index 위치 : ", temp.find("python"))
print("python이 나오는 마지막 index 위치 : ", temp.rfind("python"))
print("C이 너오는 첫 index 위치 : ", temp.find("C")) # 찾을 문자가 없을 경우 -1을 반환
print("python이 나오는 첫 index위치", temp.index("python"))
# print("java이 나오는 첫 index위치", temp.index("java")) #잦을 문자가 없어 error반환함
print("python으로 시작하는지 여부 : ", temp.startswith('python'))
print("Python으로 시작하는지 여부 : ", temp.startswith('Python')) # 대소문자 구분함
print("대소문자 구분없이 python으로 시작하는지 여부 : ", temp.lower().startswith('python'))
print("python으로 끝나는지 여부 : ", temp.endswith("python"))
print("python을 R로 변경 : ", temp.replace('python', 'R'))
print(temp)

In [ ]:
temp="      python is easy         "
notdigit="1,000"

print("좌우 공백 : [{}]".format(temp))
print("좌우 공백 제거 : [{}]".format(temp.strip()))
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
print("isdigit(숫자문자)인지 여부 :",notdigit.isdigit())
print("replace후 isdigit : ", notdigit.replace(",","").isdigit())
print("대문자인지 여부 :",temp.isupper())
print("소문자인지 여부 :",temp.islower())

In [ ]:
names="홍길동 김깅동 박길동      주길동 고길동"
name_list=names.split()
print("space 단위로 names 분리(list로 반환)",names.split())
print(name_list[0],name_list[1])

In [ ]:
date_str="2025-09-17"
date_list=date_str.split("-") # split는 공백에서는 스페이스바로 분리되며 다른 문자로 분리하고 싶으면 문자를 괄호 안에 넣어준다
print(date_list)
print("년도 : ", date_list[0])
print("월 : ", date_list[1])
print("일 : ", date_list[2])

In [ ]:
# str_="ABC"
str_=["A", "B", "C"]
str_[0], str_[1], str_[2]

In [ ]:
# " - "를  "/"로 바꾸기
temp="python - 웹((HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG))"
# temp.replace(" - ","/")
# split()와 join() 이용하여 repleace 역할
splited_temp=temp.split(" - ")
print("분리된 temp : ",splited_temp)
joined_temp="/".join(splited_temp) # "/"로 매개변수 list를 연결
print("join temp : ",joined_temp)

In [ ]:
# 문자열을 다룰 수 있는 함수들 목록
temp = "a"
# dir(str)

# 7절. 시간, 날짜 다루기

In [ ]:
import datetime

datetime.__file__

In [ ]:
# datetime모듈(datetime.py)안의 datetime,date ,time만 load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [ ]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

In [ ]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime()) # .ctime() : 사람이 읽기 쉬운 형태로 convert

In [ ]:
#지금을 저장하는 함수
now = datetime.now()
print(now)
# print(now.ctime("%y년%m월%d일 %p %I:%M:%S"))

In [ ]:
diff = now-thatday
print(diff)
print(diff.days)

## 7.2 날짜

In [ ]:
# 특정한 날짜를 갖는 date 객체 생성
someday=date(2025,9,11)
someday

In [ ]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

In [ ]:
# 오늘을 갖는 date객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1==today2)

In [ ]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

In [ ]:
diff=someday - today1
print(diff)
print(diff.days)

## 7.3 시간

In [ ]:
# 특정한 시간을 저장하는 time 객체 생성
t=time(14,39)
t

In [ ]:
# print(t.strftime("%Y년 %m월 %d일 %p %I:%M"))
print(t.strftime("%p %I:%M"))

In [ ]:
# 핸재시간
nowtime=datetime.now(),time()
print(nowtime)

# 8절. 연습문제

In [1]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화
name = "홍길동"
age = 23

print("{}님의 나이는 {}살입니다.".format(name,age))

홍길동님의 나이는 23살입니다.

In [2]:
# 2. 두 정수를 입력받아 산술연산결과를 출력
input1=int(input("첫번째 정수를 입력하세요:"))
input2=int(input("두번째 정수를 입력하세요:"))

if input2 !=0:
    
    sum = input1 + input2
    sub = input1 - input2
    mul = input1 * input2
    div = input1 / input2
    sha = input1 % input2
    rem = input1 // input2

    print(f"두 정수의 덧셈 : {sum} 두 정수의 뺼셈 : {sub} 두 정수의 곱셈 : {mul} \n두 정수의 나눗셈 : {div} 나눗셈의 몫 : {sha} 나머지 : {rem}")

else:
    print("0으로 나눌 순 없습니다.")

첫번째 정수를 입력하세요:9
두번째 정수를 입력하세요:7
두 정수의 덧셈 : 16 두 정수의 뺼셈 : 2 두 정수의 곱셈 : 63
두 정수의 나눗셈 : 1.2857142857142858 나눗셈의 몫 : 2 나머지 : 1

In [3]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력
str_='Hello World'

str_2 = str_.split()

str_3 = str_2[1]+ " " + str_2[0]

print(str_3)

World Hello

In [4]:
# 4. x='abcdef' 를 이용하여 'bcdefa'로 출력(문자 슬라이싱이용)

x = 'abcdef'

print(x[1:] + x[0])

bcdefa

In [5]:
# 5. x='abcdef' 를 이용하여 fedcba로 출력

x = 'abcdef'

print(x[::-1])

fedcba

In [6]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램
# 단 화씨온도는 소수점이 있을경우만 두번째 자리까지 출력, 소수점이하값이 없는경우 소수점 출력x

C = float(input("오늘의 온도는?"))

F = (C * 1.8) + 32

abs_ = abs(int(F) - F)

if abs_ !=0:

    print("[{:.2f}]".format(F))
    
else:
    
    print(int(F))

오늘의 온도는?24
[75.20]

In [ ]:
''' 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오?
① for 
② 10th
③ Student.name
④ _1234

정답 ①, ②
① for는 파이썬 예약어이다
② 10th는 변수선언 시작을 숫자로 했기에 오류가 발생한다. 시작은 문자(특수문자는 _만)로 해야 한다.
③ 특수문자는 _만 사용 가능하다. 또한 대문자 앞자리는 거의 사용하지 않는다.
'''

In [ ]:
# 8 다음 코드의 실행 결과는?
text="Seoul A001 - progreamming with python"
print(text[:4]+text[-1]+text,split()[0])
print(text[:4], text[-1], text.split()[0])

"""
정답
SeonS
Seo, n, S
"""

In [ ]:
"""# 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
① 수식 8//2 결과 4 
② 수식 8/2 결과 4
③ 수식 8**2 결과 64

정답 ②
8/2는 4라는 값 자체는 맞으나 파이썬에선 나눗셈의 값은 실수형(float)으로 반환하기에 정수형(int)인 4로 나오지 않는다.
실제로는 4.0으로 반환되며 만약 4의 값을 반환하고 싶다면 int(8/4)를 사용해야 한다
"""

In [ ]:
# 10. 아래 프로그램의 결과는?
x=5
y='John'
print(x + y)

"""
정답
error
문자끼리의 합은 가능하나 숫자+문자는 불가능하므로 x를 문자형으로 바꾸자
str(x)
"""

In [7]:
# 11. split()함수를 이용하여 str_의 값 중  " 나라 " 를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
# print("[{:^4}]".format(str_.split()[1]))
print(f'" {str_.split()[1]} "')

" 나라 "