In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch.03 데이터 구조</font></b>
- 리스트[100,20], 튜플(10,20), 딕셔너리{'name':'hong','score':99}, 셋{10,20}

# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 데이터 타입 가능)을 하나의 변수에 저장/관리 할 수 있음
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작 맨 마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [ ]:
fruit='banana'
fruits=['banana','apple','orange','grape']
type(fruits)

In [ ]:
print(fruits)
print(fruits[2]) # 인덱싱을 이용한 읽기
# print(fruilts[4]) # 없는 인덱싱시 에러

In [ ]:
fruits[0]='mango' # 인덱싱을 이용한 쓰기
print(fruits)

In [ ]:
fruits=['mango','apple','orange']
x,y,z=['mango','apple','orange']
print(f"x : {x}")
print('y : {}'.format(y))
print(f"z : {z}")

In [ ]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하는 나영 가능한 자료
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0, by 생략시 1
range(0,10,1)
range(10) # [0,1,2,3,4,5,6,7,8,9]

In [ ]:
list(range(10))

In [ ]:
list(range(10,-1,-2))

In [ ]:
for i in [0,1,2]:
    print(i)

In [ ]:
for j in range(3):
    print(j)

In [ ]:
fruits=['mango','apple','orange']
# print(f"{0}번쨰 과일은 {fruits[0]}")
# print(f"{1}번쨰 과일은 {fruits[1]}")
# print(f"{2}번쨰 과일은 {fruits[2]}")
N=len(fruits) #len(리스트(튜플 등도 가능)변수)를 쓰면 리스트의 변수갯수만큼 값을 가짐
for idx in range(N):
    print(f"{idx}번쨰 과일은 {fruits[idx]}")

In [ ]:
list(enumerate(fruits))

In [ ]:
for i, fruit in enumerate(fruits): # [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번쨰 과일은 {fruit}")

In [ ]:
for x in fruits: 
    print(f"{x}입니다")

In [ ]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
number=[0,True,"2",[2,3],[4,5,6]]
print(number[2])
print(number[4][1]) # 리스트 안의 리스트(튜플 등) 안에 들어 있는 값을 꺼내는 방법

In [ ]:
numbers=[1,2,3,4,5]
        #0열, 1열 2열 3열 4열
numbers_2d=[[1,2,3,4,5],      # 0행
            [10,20,30,40,50], #1행
            [1,3,5,7,9],      #2행
            [2,4,6,8,10]]     #3행
print(numbers_2d)

In [ ]:
# 특정랭,특정열 데이터 인덱싱
print(numbers_2d[1][4])

In [ ]:
print(len(numbers_2d),len(numbers_2d[0]))

In [ ]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print() # 개행

In [ ]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j : 열
            print(f"{i}행{j}열 : {numbers_2d[i][j]}",end="\t")
    print()

In [ ]:
len(numbers_2d),len(numbers_2d[0]),len(numbers_2d[1])

In [ ]:
list(enumerate(numbers_2d)),list(enumerate(numbers_2d[0]))

In [ ]:
for i,row in enumerate(numbers_2d): # i : 행
    for j,item in enumerate(numbers_2d[i]): # j : 열
            print("{}행{}열 : {}".format(i,j,numbers_2d[i][j]),end="\t")
    print()

## 1.2 기본정보 조회

In [ ]:
numbers =[1,12,3,4,5]
numbers_2d=[[100,0,1],
            [9,100,100],
            [59,100,130]]

In [ ]:
# item 수
len(numbers),len(numbers_2d)

In [ ]:
# 최소값, 최댓값
# 2차원 list의 최소/최댓값 : 부분리스트 중 첫 요소가 가장 작은/큰 값
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

In [ ]:
# listd의 데이터가 문자일 경우 ascii 코드값으로  min과 max적용
fruits=['mango','apple','ornage']
min(fruits), max(fruits)

In [ ]:
# 정렬하기(동일 자료형만 가능)
numbers = [1,12,3,4,5]
print("오름차순 정렬 : ", sorted(numbers))
print("내림차순 정렬 : ", sorted(numbers,reverse=True))
print("합 : ",sum(numbers))
print('평균 : ',sum(numbers)/len(numbers))
print("sorted함수 사용 시 리스트의 내용이 바뀌지 않음 : ",numbers)

## 1.3 요소추가

- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- **append() : 요소 마지막에 추가**
- extend(리스트) : 리스트를 요소별로 마지막에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [ ]:
numbers = [1,2,3]
numbers=numbers+numbers # 리스트 연결
numbers

In [ ]:
numbers = [1,2,3]
print(numbers*3) # 곱한 수 만큼 반복
print(3*numbers)

In [ ]:
numbers.append(4) # 리스트 마지막에 4 추가
numbers

In [ ]:
numbers.append([5,6,7]) # 리스트의 마지막 요소에 [5,6,7] 추가
numbers

In [ ]:
numbers = [1,2,3]
numbers.extend([4,5,6]) # 리스트의 마지막 요소에 4, 5, 6 추가
numbers

In [ ]:
lst = ['a','b','c']
lst.append('d')
lst

In [ ]:
lst.append('hello')
lst

In [ ]:
lst.extend('hello')
lst

In [ ]:
numbers =[1,2,3,4,5]
numbers.insert(1, 'xx') # 1번쨰 인덱스에 'xx' 추가
print(numbers)

## 1.4 인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근
- list변수.index(찾을 데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in 변수 : 찾을 데이터가 list변수의 요소인지 여부
- count(찾을 데이터) : list에서 해당 찾을 데이터의 갯수 반환

In [ ]:
numbers =[1,2,3,[1,2,3],1,2,3]
numbers.count(2), numbers.count([1,2,3])

In [ ]:
numbers.count(5)

In [ ]:
print(2 in numbers) # 2가 numbers의 요소인지 여부(갯수는 확인하지 않음)
print(5 in numbers)

In [ ]:
numbers.index(5)

In [ ]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

In [ ]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

In [4]:
def safe_index(lst,item):
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환. 
    itme 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [5]:
from lst import safe_index # lst.py(모듈) 안의 safe_index를 메모리에 load
numbers=[1,2,3]
safe_index(numbers,3),safe_index(numbers,5)

(2, -1)

In [5]:
numbers[5] # 벗어난 인덱스로 인덱싱 시 에러

IndexError: list index out of range

In [6]:
numbers[1:5] # 벗어난 인덱스로 슬라이싱 시 에러가 나지 않음

[2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    - [form:to:step] from번째부터 to 앞까지 step씩 증가하는 index값을 추출
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
    
<font color="red">2. **리스트컴프리헨션** : 원하는 조건의 데이터 추출</font>

In [11]:
numbers=[1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1]) # 거꾸고 출력
print(numbers[0::2]) # 짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [13]:
# 모든 데이터 출력
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [16]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [17]:
# quiz
# 1. number에서 10 이상인 요소만 추출
[data for data in numbers if data>=10] 
# [data for data]에서 data는 변수명이므로 바꾸어도 상관없으나 A for B에서 A와 B는 같은 값이여야 한다

[10, 12, 13, 18, 19, 20]

In [19]:
# 2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits=['orange','apple','mango','kiwi']
[data for data in fruits if len(data)>=5]

['orange', 'apple', 'mango']

In [20]:
# 2-1 fruits 리스트의 과일 글자수
[len(data) for data in fruits]

[6, 5, 5, 4]

In [22]:
# 3. 3이상인 요소들의 제곱을 추출
L=[1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

In [23]:
# 4. 리스트(L) 요소의 값의 2배를 추출
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [24]:
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통채로 수정
numbers[:2]=['xx','xxx','xxxx']
numbers

['xx', 'xxx', 'xxxx', 222, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정 시 요소 갯수 맞아야 함
numbers=[0]*10
print("수정전:", numbers)
numbers[::2]= [9,9,9,9,9]
print("수정후:", numbers)

수정전: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후: [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [27]:
numbers[::2]= [9,9,9,9]

ValueError: attempt to assign sequence of size 4 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) :idx번쨰 요소가 반환되고 삭제
- remove(data) : list 안의 data가 삭제 **※주의 없는 값 입력 시 error**
- del 리스트 변수[idx] : idx번째 요소 삭제

In [35]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 : ",numbers.pop())
print("삭제 후 numbers", numbers)
print("1번째 삭제한 데이터 : ", numbers.pop(1) )
print("1번째 삭제 후 numbers", numbers)
print("데이터 1 삭제")
numbers.remove(1) 
print("데이터 1 삭제 후 numbers", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 :  5
삭제 후 numbers [1, 2, 3, 4]
1번째 삭제한 데이터 :  2
1번째 삭제 후 numbers [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 numbers [3, 4]
del numbers[1]
[3]

In [36]:
# remove.numbers[9]
if 9 in numbers:
    numbers.remove(9)
else:
    print("헤당 데이터는 없는 item 입니다.")

헤당 데이터는 없는 item 입니다.

In [37]:
numbers.clear() # 모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [38]:
numbers=[9,5,8,0,6]
print("numbers는 변경하지 않고, 정렬결과 : ", sorted(numbers))
print("numbers :",numbers)

numbers는 변경하지 않고, 정렬결과 :  [0, 5, 6, 8, 9]
numbers : [9, 5, 8, 0, 6]

In [39]:
numbers.sort() # 리스트값 자체를 오름차순 결과로 정렬함
numbers

[0, 5, 6, 8, 9]

In [40]:
numbers.sort(reverse=True) # 리스트값 자체를 내림차순 결과로 정렬함
numbers

[9, 8, 6, 5, 0]

In [41]:
numbers.reverse() #리스트를 역순으로 변경
# numbers=numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트복제

In [45]:
# 스칼라 데이터 복제
i = 10
copied_i = i
print(f"원본 i ={i}, 복사본copied_i={copied_i} / 원본주소={id(i)}, 복사본주소={id(copied_i)}")
copied_i=99
print(f"원본 i ={i}, 복사본copied_i={copied_i} / 원본주소={id(i)}, 복사본주소={id(copied_i)}")

원본 i =10, 복사본copied_i=10 / 원본주소=1324556091920, 복사본주소=1324556091920
원본 i =10, 복사본copied_i=99 / 원본주소=1324556091920, 복사본주소=1324556094768

In [49]:
# 데이터 구조의 복제
numbers = [5,6,1,9]
new_numbers = numbers # 할당
print(f"원본주소={id(numbers)}, \n복제본주소={id(new_numbers)}")
new_numbers[0] = 99 
print(f"원본내용={numbers}, \n복제본내용={new_numbers}")
print(f"원본주소={id(numbers)}, \n복제본주소={id(new_numbers)}")

원본주소=1324681916928,
복제본주소=1324681916928
원본내용=[99, 6, 1, 9],
복제본내용=[99, 6, 1, 9]
원본주소=1324681916928,
복제본주소=1324681916928

In [50]:
# 할당 
numbers=[5,6,1,9]
new_numbers=numbers
new_numbers.sort()
print("원본 : ",numbers)
print("복제본 : ",new_numbers)
print("원본주소 : ", id(numbers))
print("복제본주소 : ", id(new_numbers))

원본 :  [1, 5, 6, 9]
복제본 :  [1, 5, 6, 9]
원본주소 :  1324681592704
복제본주소 :  1324681592704

In [55]:
# 리스트 복제(깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort()
print("원본 :",numbers)
print("복제본 :",new_numbers)
print("원본 :",id(numbers))
print("복제본 :",id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [1, 5, 6, 9]
원본 : 1324684154112
복제본 : 1324684154240

In [51]:
# numbers = [5,6,1,9]
# new_numbers = sorted(numbers) 가능은 하나 속도가 느림
# print("원본 :",numbers)
# print("정렬본 :",new_numbers)

원본 : [5, 6, 1, 9]
정렬본 : [1, 5, 6, 9]

In [56]:
city=['서울','대전','대구','부산','하남','수원','인천','제주']
temp=city.copy()
temp.sort()
print("정렬전 :",city)
print("정렬후 :",temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '인천', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '인천', '제주', '하남']

In [57]:
temp.clear()
print("정렬전 :",city)
print("정렬후 :",temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '인천', '제주']
정렬후 : []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용, 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- ()이용해서 생성, tuple() 함수 이용

In [59]:
# city =('서울','대전','대구','부산','하남')
# 파이썬은 여러개의 값이 전달 될 때 튜플 타입이로 전달
city = '서울','대전','대구','부산','하남' # 괄호를 쓰지 않아도 튜플이 되나 비추(가독성 저하)
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [60]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용
', '.join(city)

'서울, 대전, 대구, 부산, 하남'

In [61]:
from lst import safe_index
safe_index(city,"대전")

1

In [64]:
l = ['서울'] # 요쇼가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [71]:
city = ('서울') # 요소가 하나 있는 튜플(x) -> 문자열
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [72]:
city = ('서울',) # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [2]:
numbers=(1,2,3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [77]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [78]:
numbers.count(2)

1

In [3]:
numbers.index(3)

2

In [82]:
if 4 in numbers:
    numbers.index(4)
else:
    print('헤당 데이터 없음')

헤당 데이터 없음

In [80]:
safe_index(numbers,4)

-1

In [6]:
numbers=(1,4,3,2)
if 4 in numbers[2:]:
    numbers.index(4,2) # .index(찾을 데이터, 찾기 시작할index=0)
else:
    print('데이터가 없습니다.')

3

In [18]:
def safe_index(lst,item,start=0):
    """
    첫번째 매개변수 lst : 리스트, 튜플
    두번쩨 매게변수 item :리스트나 튜플에서 찾을 데이터 
    세번째 매개변수 satrt : 몇 번째 ondex부터 찾을지 index tn(기본값=0) 
    itme 요소가 없으면 -1 반환
    """
    return lst.index(item,start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item,start) #sater번쨰 부터 item이 있는 index를 반환
#     return -1

In [19]:
safe_index(numbers,3,2)

2

In [16]:
# 위의 if문을 조건식을 이용하여 한줄 코드
x, y =10, 20
def diff(a, b):
    return a - b if x > y else y - x # if문이 참일 떄 취할 값 if 조건 else if문이 거짓일 때 값
#     if a > y:
#         return a - b
#     else:
#         return b - a
diff(30,20)

10

In [22]:
numbers = (1,2,3)
print(numbers + numbers) # 연결
print(3 * numbers) #반복 print(numbers * 3)도 가능

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11 , 2, 3, 4, 5, 6)
tuple(num ** 2 for num in numbers if num % 2 == 0)

(4, 16, 36)

# 3절 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함). 키에 list사용 불가. 키에 tuple는 사용은 가능(굳이 쓰진 않음)
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안함(키 이름으로 참조함)

In [31]:
dic={'name':'홍길동', 1:22,(1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [32]:
print('데이터 요소의 갯수:',len(dic))

데이터 요소의 갯수: 3

In [34]:
my_favorite={'fruit':'apple',"number":12,'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [38]:
#변수[키] / 변수.get(키)
print(my_favorite['fruit'])
print(my_favorite.get('number'))

apple
12

In [41]:
# print(my_favorite['people']) # 키 목록에 없는 데이터 를 참조시 에러
print(my_favorite.get('people')) #없는 키를 get함수로 참조 시 None
print(my_favorite.get('people', "-")) # 없는 키를 get 함수로 참조시 '-'

None
-

 ## 딕셔너리 item 수정, 추가, 삭제

In [68]:
my_favorite={'fruit':'apple',"number":12,'sport':'yoga'}
# 한 item씩 추가하기
my_favorite['people']="홍길동"
my_favorite['subject']="AI"
print("peoeple'추가 후 : ",my_favorite)
# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학','major':'AI'})
print('한꺼번에 추가 후:', my_favorite)

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number']=-9
print("하나씩 수정 후 :",my_favorite)
# 여러 item을 한꺼번에 수정 (key가 없다면 추가와 같음)
# my_favorite.update({'fruit':'kiwi','number':-99,'subject':'수학'})
my_favorite.update(fruit='kiwi',number=-99)
print("한꺼번에 수정 후 :",my_favorite)
# item 제거
del my_favorite['subject']
if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키가 존재하지 않습니다')
print("제거 후 내용:",my_favorite)
# del my_favorite['subject'] # 없는 내용 제거 시 error
# item 제거(2)
print('제거한 데이터 : ',my_favorite.pop('major'))
# 없는 내용 제거 시 error
if 'major' in my_favorite:
    print('제거한 데이터 : ',my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

peoeple'추가 후 :  {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
한꺼번에 추가 후: {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
subject 키가 존재하지 않습니다
제거 후 내용: {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 :  AI
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

## 출력하기

In [69]:
# for문을 이용한 출력
my_tuple=("홍길동", 30, '010-9999-9999')

In [74]:
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print(f"{idx}번째 : {my_tuple[idx]}", end="\t")
print()
for idx, data in enumerate(my_tuple):
    print(f'{idx}번째 : {data}', end='\t')

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [76]:
my_dic={'name':'홍길동','age':30,'tel':'010-9999-9999'}

In [81]:
for key in my_dic:
    print(f"{key} : {my_dic.get(key)}", end='\t') # 비추

name : 홍길동	age : 30	tel : 010-9999-9999

In [83]:
my_dic.keys() # 키 목록만

dict_keys(['name', 'age', 'tel'])

In [84]:
my_dic.values() # 값 목록만

dict_values(['홍길동', 30, '010-9999-9999'])

In [85]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [86]:
for key, value in my_dic.items():
    print(f'{key} : {value}', end="\t")

name : 홍길동	age : 30	tel : 010-9999-9999

In [87]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [90]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [91]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}.{} : {}".format(no+1,key,value))

1.name : 홍길동
2.age : 30
3.tel : 010-9999-9999

## in연산자

In [92]:
# tuple, list
t=(10,20,30)
30 in t # list, tuple, set에서의 in연산자 : 요소(데이터,item)가 있는 여부 반환

True

In [94]:
dic={'name':'홍길동','age':30}
'홍길동' in dic # dictionary 에서의 in연산자 : key가 있는지 여부 반환

False

In [96]:
'홍길동' in dic.values()

True

## 복제하기

In [97]:
my_favorite={'fruit':'apple','number':12}
new_favorite = my_favorite # 할당 
print('my_favorite 주소:', id(my_favorite))
print('new_favorite 주소 :',id(new_favorite))

my_favorite 주소: 2543321402048
new_favorite 주소 : 2543321402048

In [98]:
new_favorite['fruit']='과일은 다 좋아'
new_favorite['people']="홍길동"
print("원본:", my_favorite)
print("수정본:",new_favorite)

원본: {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본: {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [99]:
# 복제(깊은복사)
my_favorite={'fruit':'apple','number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소:', id(my_favorite))
print('new_favorite 주소 :',id(new_favorite))
new_favorite['fruit']='과일은 다 좋아'
new_favorite['people']="홍길동"
print("원본:", my_favorite)
print("수정본:",new_favorite)

my_favorite 주소: 2543320772224
new_favorite 주소 : 2543318451072
원본: {'fruit': 'apple', 'number': 12}
수정본: {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절 셋
- 중복된 데이터를 허용하지 않는 집합(순서X)
- {}나 set()함수를 이용하서 셋 생성 ex. set[(1,2,1)],set{('name':'홍길동')}
- 추가 : add(), uapdate()
- 삭제 : remove()
- 집합연산자 : &(교집합) |(합집합), -(차집합)

In [101]:
fruits={'banana','orange','apple','apple'}
fruits

{'apple', 'banana', 'orange'}

In [107]:
s1 = set({1,2,3,1,1,1,1,1,1,1,1,1,1})
s1

{1, 2, 3}

In [108]:
s1 = set((1,2,3,1,1,1,1,1,1,1,1,1,1))
s1

{1, 2, 3}

In [109]:
# set 함수를 이용하여 딕셔너리를 셋으로 전환할 떄는 key만 적용
s2 = set({'name':'홍길동','age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic, set 유형은 add()함수 사용 불가
- update() : list, tuple, dic, set 요소를 하나씩 따로 추가. dic 사용시 key만 추가
    cf list의 extend와 비슷

In [ ]:
s = {1,2,3}
s.add(4)
s.add(False)
s.add((6,7))
print("add 후 s:",s)

In [1]:
# 1이 set에 있는 상태에서 True 추가
s={1,2,3,1,1}
# s.add(1)
# s.add(False)
s.add(True) # True의 비트값이 1이여서 생략됨
print("True add후 :",s)
print(len(s))

True add후 : {1, 2, 3}
3

In [124]:
# False이 set에 있는 상태에서 0 추가
s={False,2,3,1,1}
s.add(0) # False의 비트값이 0이여서 생략됨
print("0 add후 :",s)

0 add후 : {False, 1, 2, 3}

In [120]:
s={1,2,3}
# s.update([4,5,6])
# s.update((4,5,6))
# s.update({4,5,6})
s.update({'name':'홍','age':20})
print("update() 후 :",s)

update() 후 : {1, 2, 3, 'age', 'name'}

## 삭제하기
    remove()

In [125]:
s={1,2,3,1,1,1,1}
s.remove(2)
s

{1, 3}

In [128]:
# 없는 요소를 삭제할 경우 에러
# s.remove(2)
if 5 in s:
    s.remove(5)
else:
    print('해당 데이터는 없습니다.')

해당 데이터는 없습니다.

## 집합연산자
    &(교집합), |(합집합), -(차집합)

In [132]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
print('s1 = {}'.format(s1))
print('s2 = {}'.format(s2))
print("s1 & s2 =",s1&s2)
print("s1 | s2 =",s1|s2)
print("s1 - s2 =",s1-s2)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 - s2 = {1, 2}

In [134]:
names ={ '길동','길숙','길자'}
for name in names:
    print(name)

길동
길자
길숙

# 5절 enumerate
- 반복자. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [135]:
list(enumerate(names))

[(0, '길동'), (1, '길자'), (2, '길숙')]

In [136]:
for no, name in enumerate(names):
    print(f"{no+1}. {name}")

1. 길동
2. 길자
3. 길숙

In [137]:
names=['길동','길자','길숙']
tels=['02-999-9999','02-888-8888','02-777-7777']
adds=['서울','판교','하남']

In [140]:
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx+1,names[idx],tels[idx],adds[idx]))

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [144]:
list(zip(names,tels,adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [145]:
for name, tel, add in zip(names,tels,adds):
    print(f"{name}님의 연락처는 {tel}이고, {add} 살아요")

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [146]:
list(enumerate(zip(names,tels,adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-7777', '하남'))]

In [148]:
for idx, (name,tel,add) in enumerate(zip(names,tels,adds)):
#     print(f"{idx+1}.{name}님의 연락처는 {tel}이고, {add} 살아요")
    print("{}.{}님의 연락처는 {}이고, {} 살아요".format(idx+1, name, tel, add))

0.길동님의 연락처는 02-999-9999이고, 서울 살아요
1.길자님의 연락처는 02-888-8888이고, 판교 살아요
2.길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [154]:
members=[] # 딕셔너리 리스트
for name,tel,add in zip(names,tels,adds):
    member={'name' :name, 'tel' :tel, 'add' : add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [161]:
members=[] # rank 추가
for idx,(name,tel,add) in  enumerate(zip(names,tels,adds)):
    member={'rank' :idx+1, 'name' :name, 'tel' :tel, 'add' : add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6절 연습문제
## 실습형 연습문제

In [248]:
# 다음의 리스트가 주어졌을 경우 요구사항대로 코드를 작성하세요
numbers=[1,2,3,4,5,6,7,8,9,10]

In [249]:
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [250]:
# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data=[200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [251]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5])

[1, 2, 3, 4, 5]

In [252]:
# 4. 리스트에서 짝수 번째 데이터만 추출하세요
print(numbers[2::2])

[3, 5, 7, 9, 100, 300, 500]

In [253]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
numbers[2::2]=[0]*len(numbers[2::2])
numbers

[1, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [254]:
# 데이터를 역순으로 나열하세요
numbers[::-1]

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 1]

In [226]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
member_info={'name':'홍길동','age':20,'address':'서울시 마포구','score':90}

In [257]:
# 7.address값을 출력하세요
print("address의 값은:",member_info['address']) # 비추
# print("address의 값은:",member_info,get('address'))

address의 값은: 서울시 마포구

In [228]:
# 8. score를 출력하고 member_info 딕셔너리에서 삭제하세요
print('score 출력:',member_info['score'])
del member_info['score']
print('score 삭제 후:',member_info)

score 출력: 90
score 삭제 후: {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [229]:
# 9. address를 "서울시 서대문구"로 변경하세요
member_info['address']="서울시 마포구"
print('address변경 후:',member_info['address'])

address변경 후: 서울시 마포구

In [232]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
print("딕셔너리 데이터값 출력 : ",list(member_info))

딕셔너리 데이터값 출력 :  ['name', 'age', 'address']

## 서술형 연습문제

In [ ]:
# 1. 다음 코드를 실행했을 때 출력되는 것은?
'''
L1=("orange","apple","banana","kiwi")
new_list [i for i in if len(i)>5]
print(new_list)
'''
# 정답
# ["orange","banana"] 데이터길이가 5를 초과하는 데이터만 리스트에 넣겠다 했기에 길이가 6인 orange, banana가 리스트에 들어간다

In [ ]:
# 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
'''
① print(list(range(10))) -[0,1,2,3,4,5,6,7,8,9]
② print(list(range(5,10))) - [5,6,7,8,9]
③ print(list(range(10,0,-1))) - [9,8,7,6,5,4,3,2,1,0]
④ print(list(range(10,20,2))) - [10,12,14,16,18]
'''
# 정답 ③ 시작값은 10이므로 [10,9,8,7,6,5,4,3,2,1,0] 이 맞다

In [ ]:
# 3. 다음 구문에 의해 출력되는 것은?
'''
numbers_2d=[[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])
'''
# 정답
# 1 numbers_2d의 3번째 값은 [2,]이고 데이터는 2 한 개 뿐이다.

In [ ]:
# 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
'''
numbers=[1,2,3,4,5]
numbers.__________([10,20,30,40,50])
numbers
'''
# 정답 append 리스트에 값을 추가햐였으므로 리스트에 값을 추가하는 함수인 append를 사용하여야 한다.

In [ ]:
# 5. 다음 구문을 실행할 때 결과는?
'''
numbers = list(range(10))
numbers[::2]= 실행 구문/[0] * len(numbers[::2])/
print(numbers)
'''
# 정답 [0,1,0,3,0,5,0,7,0,9] 시작부터 2 step씩 0으로 값을 수정하겠다 했으므로

In [ ]:
# 6. 다음 구문을 실행할 때 결과는? -[수정]
'''
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[::2]=numbers[5:]
print(numbers)
'''
# 정답 [5,1,6,,3,7,5,8,7,9,9]
# 시작부터 2 step인 [0,2,4,6,8]에 numbers[5:]의 값 [5,6,7,8,9]을 각 위치에 맞추어 바꾼다
# x,y,z = 1,2,3 일 때 x=1 y=2, z=3 의 형태로 값을 가지는 방식과 같다.

In [ ]:
# 7. 다음 구문을 실행할 때 결과는? -[수정]
'''
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[::2]=numbers[:5]
print(numbers)
'''
# 정답 [0,1,1,3,2,5,3,7,4,9]
# 시작부터 2 step인 [0,2,4,6,8]의 값에 numbers[:5]의 값 [0,1,2,3,4]을 각 위치에 맞추어 바꾼다
# 6번 문제와 푸는 방식이 같다.

In [ ]:
# 8.다음 데이터에서 10 을 출력할 수 없는 구문은 -[수정]
'''
my_dic = {“a”:10, “b”:20, “c”:30}
① my_dic [0]
② my_dic [‘a']
③ list( my_dic.items ())[0][1]
④ list( my_dic.values ())[0]
⑤ my_dic.get (‘a')
'''
# 정답 ①
# ① 딕셔너리는 index를 가지지 않기에 index를 이용한 출력은 불가능하다
# ③ 이 오답이 아닌 이유는 딕셔너리를 리스트화 했을 시 키와 데이터의 쌍이 각각의 튜플로 저장됙기 때문이다
# 즉 ③ 은 [('a',10),('b',20),('c',30)]의 값을 가지는 리스트에서 0번째 튜플의 1번값인 10의 값을 말한다.

"\nmy_dic = {“a”:10, “b”:20, “c”:30}\n① my_dic [0]\n② my_dic [‘a']\n③ list( my_dic.items ())[0][1]\n④ list( my_dic.values ())[0]\n⑤ my_dic.get (‘a')\n"

In [ ]:
# 9. 다음 프로그램의 결과를 출력하시오
'''
fruits = [‘apple’, ‘banana’, ‘orange’]
x, y, z = fruits
print(x)
print(y)
print(z)
'''
'''
정답
apple
banana
orange

x,y,z = [‘apple’, ‘banana’, ‘orange’]의 형태로 보면 이해가 쉽다
x,y,z와 ‘apple’, ‘banana’, ‘orange’가 각각의 순서에 맞게 짝을 짓는다
'''

In [ ]:
# 10.다음 프로그램의 결과를 출력하시오
'''
fruits = [‘apple’, ‘banana’, ‘orange’]
print(len(fruits))
'''
# 정답 3 리스트의 데이터갯수를 물었으므로

In [ ]:
# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?
# 정답 def

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
    style="float:left"
    width="500">