In [19]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch.05 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어 씀)
- 함수 정의
```
def 함수명([매게변수1, 매개변수2,.....]):
    명령어1
    명령어2.......(들여쓰기 필수)
```
# 1절 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
def my_message(x,msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 사용 == 함수호출
my_message(3,'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경(함수복사)
my_msg=my_message
my_message(2,'Hello')
my_msg(3,'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg),type(my_message)

(function, function)

In [6]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print=5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [7]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [8]:
my_message=5
my_msg(2,"Hello")

0 Hello
1 Hello

In [9]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [10]:
del my_message # 변수 및 함수 제거에도
my_message(2,'Hello') # 사용자 정의 함수, 라이브러리 함수는 del 하여도 사용 불가(함수 자체가 삭제되기 때문)

NameError: name 'my_message' is not defined

In [14]:
# 함수 중복정의 불가(오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello World')

def my_hello(cnt): #cnt번 출력
    for i in  range(cnt):
        print('Hello Python', end='\t')
        print('Hello World')

In [16]:
my_hello() # 함수가 덮어쓰기되어 호출되지 않음

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [15]:
my_hello(2)

Hello Python	Hello World
Hello Python	Hello World

In [17]:
my_hello

In [18]:
__name__

'__main__'

In [19]:
if __name__ == '__main__': 
    my_hello(2)

Hello Python	Hello World
Hello Python	Hello World

In [1]:
import ch05 #ch05 모듈이 해석되서 메모리 로드

In [21]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [2]:
from ch05 import my_hello # ch05 모듈 안에 my_hello만 메모리 로드

In [3]:
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [4]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출 시 shift+tab으로 독스트링을 볼 수 있음)
    '''
    # 어떤 함수 
    pass

In [5]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출 시 shift+tab으로 독스트링을 볼 수 있음)

In [6]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2 ,3, 5, 8
    '''
    a, b = 0, 1 #지역변수: 함수 내애서 선언한 변수 (반댓말: 전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [8]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [9]:
a,b # 함수 안의 a,b는 지역변수이기에 함수 내에서만 사용가능하며 함수 외부에서는 실행되지 않음

NameError: name 'a' is not defined

## 1.3 지역변수(local var) 와 전역변수(global var)

In [18]:
gloval_var=100
def func1():
    print('함수 안', gloval_var)
func1()
print('함수 밖 :', gloval_var)

함수 안 100
함수 밖 : 100

In [20]:
def func2():
    local_var=200 # 지역변수(함수내에서 할당)
    print('함수 안',local_var)
func2()

함수 안 200

In [22]:
# print('함수 밖',local_var) #에러

In [27]:
g_var=100 # 전역변수
def func3():
    g_var=200 # 지역변수 (함수내에서 할당)
    print('지역변수 g_var :',g_var)

func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [28]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 
# 변수의 범위가 정해짐(지역 vs 전역)
g_var=100 # 전역변수
def func3():
    print('지역변수 g_var :',g_var)
    g_var=200 # 지역변수 (함수내에서 할당)

func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [29]:
# 렉시컬 특성
g_var=100 # 전역변수
def func3():
    global g_var #함수 내에서의 g_var는 전역변수를 사용하겠다.
    print('전역변수 g_var :',g_var)
    g_var=200 # 전역변수 g_var에 200 할당

func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [30]:
foo = 'a'
id(foo)

2186504398640

In [32]:
def func1(f): # 매개변수는 지역변수
    print('Before:', f, '의 주소는 ', id(f))
    f = f * 3
    print("After:", f, '의 주소는', id(f))
func1(foo)

Before: a 의 주소는  2186504398640
After: aaa 의 주소는 2186619009968

In [33]:
print('foo =', foo, '의 주소는 ',id(foo))

foo = a 의 주소는  2186504398640

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [37]:
L = [1,2,3,4,5]
id(L)

2186619327488

In [38]:
def func2(f): # 매개변수는 지역변수
    print('before :', f,'의 주소는',id(f))
    f.append(6)
    print("After:", f, '의 주소는', id(f))
func2(L)

before : [1, 2, 3, 4, 5] 의 주소는 2186619327488
After: [1, 2, 3, 4, 5, 6] 의 주소는 2186619327488

In [40]:
print('L=',L,'의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 2186619327488

# 2절 함수의 실행결과를 반환하는 return

In [42]:
def fibonacci_print(n):
    '매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수'
    a, b = 0, 1 #지역변수: 함수 내애서 선언한 변수 (반댓말: 전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    'n 미만의 피보나치수열을 리스트로 return'
    result=[] #피보나치수열을 append할 리스트
    a, b = 0, 1
    while a < n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [44]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [46]:
x = fibonacci_print(10)
print('x=', x)
print(type(x))

0 1 1 2 3 5 8
x= None
<class 'NoneType'>

### 여러개 값 return
- 여러개 값을 갖는 튜플로 return

In [48]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # 튜플로 변환 - return (b, a)

In [51]:
x, y = 5, 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

함수 실행 전 x, y = 5 10
함수 실행 후 x, y = 10 5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [54]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수
    return 'http://{}:{}'.format(ip,port)

In [56]:
print(make_url('localhost',8090))
print(make_url("www.naver.com"))
print(make_url(port=9090,ip='localhost'))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [58]:
# def make_url(port=80, ip=''): # 순서인수 > 기본값을 갖는 매개변수 순으로 배치
#     return 'http://{}:{}'.format(ip,port) 에러남

## 3.2 기본변수를 기본값으로 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본 변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [60]:
i=80
# 기본 변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port = i):
    return "http://{}:{}".format(ip, port)

In [62]:
i = 90
make_url('localhost')

'http://localhost:80'

In [71]:
list_=[]
# 기본 변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a,L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [72]:
print(func3(20))

[10, 20]

In [73]:
print('list_ =',list_)

list_ = [10, 20]

In [74]:
print(func3(50))

[10, 20, 50]

In [78]:
# 실행할 때 마다 L을 공유하는 게 싫으면
def func3(a,L=None):
    if L is None:
        L =[ ]
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))

[10]
[10]
[10]
[1, 2, 3, 10]

In [77]:
print(func3(10))

[10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의 시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [ ]:
def func3(a,L=None): 
    if L is None:
        L =[ ]
    L.append(a)
    return L

In [80]:
lst=[]
print(func3(10,lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst,a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [84]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a,b):
    return a+b
def add(a,b,c):
    return a+b+c

In [85]:
add(3,5)

TypeError: add() missing 1 required positional argument: 'c'

In [94]:
# args앞에 * : args가 튜플로 전달받는다.
def add(*args):
#     print('args =', args)
    '전달받은 매개변수들의 합을 return, 매개변수가 없으면 0을 return'
    sum = 0 #누적변수
    
    for num in args:
        sum += num
    
    return sum

In [97]:
print(add())
print(add(1))
print(add(1,3))
print(add(1,2,3,4,5,6,7,8,9,10))

0
1
4
55

In [99]:
subject = ('Python','HTML/CSS','JavaScript','DBMS')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-DBMS'

In [102]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject,sep):
    return sep.join(subject)

In [105]:
concat('Python','HTML/CSS','JavaScript','DBMS','-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [106]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python','HTML/CSS','JavaScript','DBMS',sep='-')

'Python-HTML/CSS-JavaScript-DBMS'

In [112]:
# 해결책2 : 기본값을 키워드 인수 사용
def concat(*subject, sep=" ~ "): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python','HTML/CSS','JavaScript','DBMS'))
print(concat('Python','HTML/CSS','JavaScript','DBMS', sep='-'))

Python ~ HTML/CSS ~ JavaScript ~ DBMS
Python-HTML/CSS-JavaScript-DBMS

In [114]:
# 해결책2의 방식의 예약어 => print
print('python','web','js', sep='=')

python=web=js

In [120]:
# 해결책3 : ※추천※ sep을 순서인수로 앞으로 선언
def concat(sep,*subject):
    return sep.join(subject)

In [121]:
concat('-','Python','HTML/CSS','JavaScript','DBMS')

'Python-HTML/CSS-JavaScript-DBMS'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [132]:
def func5(**args): # **args : 딕셔너리로 전달받음
    print('이름: ',args.get('name', '몰라'))
    print('나이: ',args.get('age', 30))
    print('전화: ',args.get('tel', '없음'))
    print('주소: ',args.get('address', '서울 관악'))

In [149]:
def func5(**args):
    '''딕셔너리 매개변수로 받아 address키가 없으면 서울시 관악구로 추가하고
    키-값을 출력'''
    print(args)
    print(type(args))
    if 'address' not in args: #args에 address가 없으면 if문 True
#         args['address']='서울시 관악구'
#         args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print('{} : {}'.format(key, value))

In [151]:
func5(name='홍길동', age=30, tel='010-9999-9999',
     )

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

## 3.6 함수 정의 시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) >딕셔너리인수(**)

In [152]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a,b,*c,**d):
    print('순서인수 a =',a)
    print('순서인수 b =',b)
    print('튜플인수 c =',c)
    print('딕셔너리인수 d =',d)

In [157]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b',True, name='홍',age=30,address='신림')

순서인수 a = 10
순서인수 b = 20
튜플인수 c = (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', True)
딕셔너리인수 d = {'name': '홍', 'age': 30, 'address': '신림'}

In [159]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) >딕셔너리인수(**)
def func7(a,b,c,*d,e=10,**f):
    print('순서인수 a =',a)
    print('순서인수 b =',b)
    print('순서인수 c =',c)
    print('튜플인수 d =',d)
    print('키워드인수(기본값 10) e =',e)
    print('딕셔너리인수 f =',f)

In [162]:
func7(10, 20, 30, e = 100)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {}

In [160]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (1, 2, 3, 4, 5)
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출 시 패킹되어 있는 매개변수(리스트,튜플 등)앞에 *을 붙임
- 패킹 : 함수 정의 시 매개변수 앞에 * 붙임(튜플매개변수)

In [168]:
def add(*args):
    sum=0
    for num in args:
        sum += num
    return sum

In [170]:
add(1,2,3)

6

In [172]:
numbers=(1,2,3)
add(*numbers)

6

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출 시 패킹되어 있는 딕셔너리 앞에 ** 을 붙임
- 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임

In [173]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [174]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [176]:
info = {'shape':'rect', 'width':40, 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식
- return 한 줄짜리 작은 익명함수
## 4.1 람다식 연습

In [3]:
def add(a,b):
    return a+b
print(add(3,5))
print(type(add))

8
<class 'function'>

In [5]:
add2 = lambda a, b : a + b
print(add2(3,4))
print(type(add2))

7
<class 'function'>

In [10]:
# ex1. 매개변수로 들어온 값이 짝수인진 홀수인지 return하는 함수를 람다식으로
def even_odd_chk(num):
#     if num%2:
#         result="홀수"
#     else:
#         result="짝수"
    result ="홀수" if num%2 else "짝수"
    return result
even_odd_chk(5), even_odd_chk(-4)

('홀수', '짝수')

In [12]:
even_odd_chk2 = lambda num : "홀수" if num%2 else "짝수"
even_odd_chk2(6), even_odd_chk2(-3)

('짝수', '홀수')

In [18]:
# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로
abs_ = lambda a,b : abs(a-b)
abs_(-3,7)
abs_2 = lambda a,b : a - b if a > b else b - a
abs_2(7,3), abs_2(3,7)

(4, 4)

In [20]:
# ex3. 매개변수로 잔액을 받아, 잔액이 0 이상이면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda balance : balance if balance > 0 else 'negative' 
ex3(1000),ex3(-1000)

(1000, 'negative')

In [25]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'
        #100점 초과, 0점 미만은 '유효하지 않음'을 return
def levelChk(score):
    if 80<=score<=100:
        return 'A팀'
    elif 60<=score<80:
        return 'B팀'
    elif 0<=score<60:
        return '재시험'
    else:
        return '유효하지 않음'
    
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                    'B팀' if 60<=score<80 else \
                    '재시험' if 0<=score<60 else \
                    '유효하지 않음'
levelChk(8),ex4(75)

('재시험', 'B팀')

In [29]:
# 점수를 입력받아 학점을 return
score_grade = lambda score: 'A학점' if 90<=score<=100 else \
                            'B학점' if 80<=score<90 else \
                            'C학점' if 70<=score<80 else \
                            'D학점' if 60<=score<70 else \
                            'F학점' if 0<=score<60 else \
                            '유효하지 않음'
score_grade(60), score_grade(120)

('D학점', '유효하지 않음')

In [31]:
# ex5. safe_index 함수를 람다식으로
def safe_index(lst,item,start=0):

    return lst.index(item,start) if item in lst[start:] else -1

ex5 = lambda lst, item,start=0 : lst.index(item,start) if item in lst[start:] else -1

i=3
lst = [i,2,3]
safe_index(lst,4), ex5(lst,3,1)

(-1, 2)

In [35]:
# 람다식도 list에 들어갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add,sub, mul, div] # 사칙연산 함수

def act_opperations(a, b, operations = operations): # a, b의 사칙연산 결과를 return
    result = []
    for op in operations: 
        result.append(op(a,b))
    return result

act_opperations(20,5)

[25, 15, 100, 4.0]

In [37]:
act_opperations(8,2,[lambda x,y: x**y, lambda x,y : 10*x + y])

[64, 82]

In [38]:
operations.append(lambda x,y : x**y)
len(operations)

5

In [39]:
act_opperations(8,2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
### (1) map

In [43]:
def map_template(func,L=[]):
    result=[]
    for item in L:
        result.append(func(item))
    return result

In [44]:
# map_template(lambda a : a, [1,2,3])
list_data = [1,2,3,4,5,6,7,8,9]
def x_2(x):
    return x*2
x_2 = lambda x : x*2
map_template(x_2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [45]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
# 리스트 컴프리핸션
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [49]:
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [50]:
for data in map(lambda x:x*2, list_data):
    print(data,end =' ')

2 4 6 8 10 12 14 16 18

In [56]:
# ex1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',',''))   
toint('5,000')

prices_int=map(lambda value : int(value.replace(',','')),prices)
for prices in prices_int:
    print(prices, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [58]:
# ex2. 
'''members1 = [{'name':'홍길동', 'birth':'2000-01-01’},\
            {'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1},\
            {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환'''
# members1 = [{'name':'홍길동', 'birth':'2000-01-01'},\
#             {'name':'신길동', 'birth':'1995-12-18'},]

In [64]:
# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}
def split_data(date):
    split_data=date.split('-')
    return {'year' : int(split_data[0]), 
            'month' : int(split_data[1]), 
            'day' : int(split_data[2])
           } 
split_data('2000-01-01')

{'year': 2000, 'month': 1, 'day': 1}

In [66]:
# {'birth' : '2000-01-01'} => {'year' : 2000, 'month' : 1, 'day' : 1}
def split_data(date):
    return {'year' : int(date['birth'].split('-')[0]), 
            'month' : int(date['birth'].split('-')[1]), 
            'day' : int(date['birth'].split('-')[2])
           } 
split_data({'birth':'2000-01-01'})

{'year': 2000, 'month': 1, 'day': 1}

In [87]:
# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},\
            {'name':'신길동', 'birth':'1995-12-18'},]

def members_preprocessing(date):
    return {'name' : date.get('name', '이름없음'), # date['name']- 사용해도 큰 문제는 없으나 만약 name가 없다면 error
            'year' : int(date.get('birth').split('-')[0]), 
            'month' : int(date.get('birth').split('-')[1]), 
            'day' : int(date.get('birth').split('-')[2])
           } 
members_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [122]:
members2 = list(map(lambda data :  {
                                    'name' : data.get('name', '이름없음'),
                                    'year' : int(data.get('birth').split('-')[0]), 
                                    'month' : int(data.get('birth').split('-')[1]), 
                                    'day' : int(data.get('birth').split('-')[2])
                                    },members1)
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [89]:
'''
예제3. members2를 members1으로 전환
'''

members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

In [118]:
# {'year': 2000, 'month': 1, 'day': 1} => '2000-01-01'
def join_data(data):
    return '{}-{:02}-{:02}'.format(data.get('year'),data.get('month'),data.get('day'))
join_data({'year': 2000, 'month': 1, 'day': 11})

'2000-01-11'

In [114]:
# {'year': 2000, 'month': 1, 'day': 1} => '2000-01-01'
def join_data(data):
    return {'birth':'{year}-{month:02}-{day:02}'.format(**data)}
join_data({'year': 2000, 'month': 1, 'day': 11})

{'birth': '2000-01-11'}

In [119]:
# {'name':'hong','year': 2000, 'month': 1, 'day': 11} => {'name': 'hong', 'birth': '2000-01-11'}
def join_data(data):
    return {'name': data.get('name', '이름없음'), 'birth': '{year}-{month:02}-{day:02}'.format(**data)}
join_data({'name':'hong','year': 2000, 'month': 1, 'day': 11})

{'name': 'hong', 'birth': '2000-01-11'}

In [123]:
# {'name':'hong','year': 2000, 'month': 1, 'day': 11} => {'name': 'hong', 'birth': '2000-01-11'} 람다
list(map(lambda data :  {
    'name': data.get('name', '이름없음'), 
    'birth': '{year}-{month:02}-{day:02}'.format(**data)}
    ,members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [124]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [126]:
list_data=[1,2,3,4,5,6,7,8,9]
def order_chk(value):
    return values%2
#     if valuse%2:
#         return True
#     else:
#         return False
filter_template(lambda value : value%2, list_data)

[1, 3, 5, 7, 9]

In [129]:
# 리스트컴프리헨션
[data for data in list_data if data%2]

[1, 3, 5, 7, 9]

In [130]:
list(filter(lambda value : value%2, list_data))

[1, 3, 5, 7, 9]

In [141]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/ 리스트컴프리헨션)
L=[1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
# filter
list(filter(lambda data : data % 1 == 0, L))

[1, 3.0, 100, -2.0]

In [142]:
# 리스트컴프리헨션
[data for data in L if data % 1 == 0]

[1, 3.0, 100, -2.0]

### (3) sort

In [144]:
p=[10,3,6,1]
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [145]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs=[(2,"two"),(1,"one"),(3,"three"),(4,'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [148]:
# 1번째 아이템 기준으로 내림차순
pairs.sort(key=lambda data : data[1],reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [155]:
# 합이 큰 순으로 정렬
numbers_2d = [[9,9],[1,100],[10,200]]
numbers_2d.sort(key= lambda data : sum(data), reverse =True)
numbers_2d

[[10, 200], [1, 100], [9, 9]]

In [ ]:
name_select= lambda data: data.get('name')
name_select({'name':'홍','score':99})

In [162]:
# student를 name순으로 정렬(ㄱ,ㄴ,ㄷ 순, 없는 이름은 마지막)
students = [{'name':'홍','score':99},
           {'name':'김','score':50},
           {'name':'박','score':77},
           {'score':100}]
students.sort(key = lambda data : data.get('name',"힣"))
students

[{'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [164]:
# student를 score 큰 순으로 변경
students.sort(key = lambda data : data.get('score',0),reverse = True)
students

[{'score': 100},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [170]:
books = \
[{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
{'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
{'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
{'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
{'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
{'no':6, 'title':'가격이없음', 'writer':'이길동'}]

In [171]:
# no기준으로 sort
books.sort(key=lambda data : data.get('no'))
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [172]:
# title기준으로 sort
books.sort(key=lambda data : data.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [ ]:
# price기준으로 sort - error
books.sort(key=lambda data : data.get('price,0'))
books

In [190]:
# 30200,'12,000','5000','ㅁ',None => 30200, 12000, 5000, 0, 0
def parse_int(price):
    if isinstance(price,str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
print(parse_int('12,000'),parse_int(32000),parse_int('ㅁ'),parse_int(None))

12000 32000 0 0

In [195]:
# 람다식으로
parse_int= lambda price :\
                        int(price.replace(',','')) if isinstance(price,str) and price.replace(',','').isdigit() else\
                        price if isinstance(price,int) else 0

print(parse_int('12,000'),parse_int(32000),parse_int('ㅁ'),parse_int(None))

12000 32000 0 0

In [198]:
# 딕셔너리 데이터 사용 시
parse_int= lambda book :\
                        int(book.get('price').replace(',','')) if isinstance(book.get('price'),str)\
                        and book.get('price').replace(',','').isdigit() else\
                        book.get('price') if isinstance(book.get('price'),int) else 0
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200})

30200

In [200]:
copyBooks = books.copy() # 복제
copyBooks.sort(key=lambda book :\
                        int(book.get('price').replace(',','')) if isinstance(book.get('price'),str)\
                        and book.get('price').replace(',','').isdigit() else\
                        book.get('price') if isinstance(book.get('price'),int) else 0,
              reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while,...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다.

In [204]:
a=10

In [205]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': '\n예제3. members2를 members1으로 전환\n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'def add(a,b):\n    return a+b\nadd(3,5)',
  'def add(a,b):\n    return a+b\nprint(add(3,5))\nprint(add)',
  'def add(a,b):\n    return a+b\nprint(add(3,5))\nprint(type(add))',
  'add2 = lambda a, b : a + b\nprint(add2(3,4))',
  'add2 = lambda a, b : a + b\nprint(add2(3,4))\nprint(type(add2))',
  '# ex1. 매개변수로 들어온 값이 짝수인진 홀수인지 return하는 함수를 람다식으로\ndef even_odd_chk(num):\n    if num%2:\n        result="홀수"\n    else:\n        result="짝수"\n    return result\neven_odd_chk(5)',
  '# ex1. 매개변수로 들어온 값이 짝수인진 홀수인지 return하는 함수를 람다식으로\ndef even_odd_chk(num):\n    if num%2:\n        result="홀수"\n    else:\n        result="짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)',
  '# ex1. 매개변수로 들어온 값이 짝수인진 홀수인지 return하는 함수를 람다식으로\ndef even_odd_chk(num):\n#     if num%2:\n#         result="홀수"\n#     else:\n#         result="짝수"\n    result ="홀수" if num%2 else "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)',
  'even_odd_chk= lambda num : "홀수" if num%2 else "짝수"\neven_odd_chk(5), even_odd_chk(-4)',
  '# ex1. 매개변수로 들어온 값이 짝수인진 홀수인지 return하는 함수를 람다식으로\ndef even_odd_chk(num):\n#     if num%2:\n#         result="홀수"\n#     else:\n#         result="짝수"\n    result ="홀수" if num%2 else "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)',
  'even_odd_chk2= lambda num : "홀수" if num%2 else "짝수"\neven_odd_chk2(5), even_odd_chk2(-4)',
  'even_odd_chk2= lambda num : "홀수" if num%2 else "짝수"\neven_odd_chk2(6), even_odd_chk2(-3)',
  '# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로\nabs_=lambda a,b : abs(a-b)\nabs_(3,7)',
  '# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로\nabs_=lambda a,b : abs(a-b)\nabs_(3,-7)',
  '# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로\nabs_=lambda a,b : abs(a-b)\nabs_(3,7)',
  '# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로\nabs_ = lambda a,b : abs(a-b)\nabs_(-3,7)',
  '# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로\nabs_ = lambda a,b : abs(a-b)\nabs_(-3,7)\nabs_2 = lambda a,b : a - b if a > b else b - a\nabs_2(7,3)',
  '# ex2. 두 매개변수의  차이를 return하는 함수를 람다식으로\nabs_ = lambda a,b : abs(a-b)\nabs_(-3,7)\nabs_2 = lambda a,b : a - b if a > b else b - a\nabs_2(7,3), abs_2(3,7)',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% ! important;}\ndiv.cell.code_cell.rendered{width:100%}\ndiv.input_prompt{padding:0px}\ndiv.CodeMirror {font-family:Consolas ; font-size:12pt;}\ndiv.text_cell_render.rendered_html {font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold}\ndiv.input {font-family:Consolas ; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper {padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:12px;}\n</style>\n"""))',
  "# ex3. 매개변수로 잔액을 받아, 잔액이 0 이상이면 잔액을 return, 음수면 'negative'를 return\nex3 = lambda balance : balance if balance > 0 else 'negative' \nex3(1000),ex3(-1000)",
  "# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n        #100점 초과, 0점 미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        return 'A팀'\n    elif 60<=score<80:\n        return 'B팀'\n    elif 0<=score<60:\n        return '재시험'\n    else:\n        return '유효하지 않음'\n    \n    ex4 = lambda score : 'A팀' if 80<=score<=100 else \\\n                        'B팀' if 60<=score<80 else \\\n                        '재시험' if 0<=score<60 else \\\n                        '유효하지 않음'\n    levelChk(8),ex4(160)",
  "# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n        #100점 초과, 0점 미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        return 'A팀'\n    elif 60<=score<80:\n        return 'B팀'\n    elif 0<=score<60:\n        return '재시험'\n    else:\n        return '유효하지 않음'\n    \n    ex4 = lambda score : 'A팀' if 80<=score<=100 else \\\n                        'B팀' if 60<=score<80 else \\\n                        '재시험' if 0<=score<60 else \\\n                        '유효하지 않음'\n    levelChk(8),ex4(160)",
  "# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n        #100점 초과, 0점 미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        return 'A팀'\n    elif 60<=score<80:\n        return 'B팀'\n    elif 0<=score<60:\n        return '재시험'\n    else:\n        return '유효하지 않음'\n    \n    ex4 = lambda score : 'A팀' if 80<=score<=100 else \\\n                        'B팀' if 60<=score<80 else \\\n                        '재시험' if 0<=score<60 else \\\n                        '유효하지 않음'\nlevelChk(8),ex4(160)",
  "# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n        #100점 초과, 0점 미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        return 'A팀'\n    elif 60<=score<80:\n        return 'B팀'\n    elif 0<=score<60:\n        return '재시험'\n    else:\n        return '유효하지 않음'\n    \nex4 = lambda score : 'A팀' if 80<=score<=100 else \\\n                    'B팀' if 60<=score<80 else \\\n                    '재시험' if 0<=score<60 else \\\n                    '유효하지 않음'\nlevelChk(8),ex4(160)",
  "# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n        #100점 초과, 0점 미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        return 'A팀'\n    elif 60<=score<80:\n        return 'B팀'\n    elif 0<=score<60:\n        return '재시험'\n    else:\n        return '유효하지 않음'\n    \nex4 = lambda score : 'A팀' if 80<=score<=100 else \\\n                    'B팀' if 60<=score<80 else \\\n                    '재시험' if 0<=score<60 else \\\n                    '유효하지 않음'\nlevelChk(8),ex4(75)",
  "# 점수를 입력받아 학점을 return\nscore_grade = lambda score: 'A팀' if 80<=score<=100 else \\\n                            'B팀' if 60<=score<80 else \\\n                            '재시험' if 0<=score<60 else \\\n                            '유효하지 않음'\nscore_grade(input('0~100 사이의 점수를 입력하세요'))",
  "# 점수를 입력받아 학점을 return\nscore_grade = lambda score: 'A팀' if 80<=score<=100 else \\\n                            'B팀' if 60<=score<80 else \\\n                            '재시험' if 0<=score<60 else \\\n                            '유효하지 않음'\nscore_grade(int(input('0~100 사이의 점수를 입력하세요'))",
  "# 점수를 입력받아 학점을 return\nscore_grade = lambda score: 'A팀' if 80<=score<=100 else \\\n                            'B팀' if 60<=score<80 else \\\n                            '재시험' if 0<=score<60 else \\\n                            '유효하지 않음'\nscore_grade(int(input('0~100 사이의 점수를 입력하세요')))",
  "# 점수를 입력받아 학점을 return\nscore_grade = lambda score: 'A학점' if 90<=score<=100 else \\\n                            'B학점' if 80<=score<90 else \\\n                            'C학점' if 70<=score<80 else \\\n                            'D학점' if 60<=score<70 else \\\n                            'F학점' if 0<=score<60 else \\\n                            '유효하지 않음'\nscore_grade(60), score_grade(120)",
  '# ex5. safe_index 함수를 람다식으로\ndef safe_index(lst,item,start=0):\n\n    return lst.index(item,start) if item in lst[start:] else -1\n\nex5 = lambda lst, item,start=0 : lst.index(item,start) if item in lst[start:] else -1\nlst = [1,2,3]\nsafe_index(lst,4), ex5(lst,3,1)',
  '# ex5. safe_index 함수를 람다식으로\ndef safe_index(lst,item,start=0):\n\n    return lst.index(item,start) if item in lst[start:] else -1\n\nex5 = lambda lst, item,start=0 : lst.index(item,start) if item in lst[start:] else -1\nlst = [3,2,3]\nsafe_index(lst,4), ex5(lst,3,1)',
  "# 람다식도 list에 들어갈 수 있음\nadd = lambda a, b : a + b\nsub = lambda a, b : a - b\nmul = lambda a, b : a * b\ndiv = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'\noperations = [add,sub, mul, div] # 사칙연산 함수\n\ndef act_opperations(a, b, operations = operations): # a, b의 사칙연산 결과를 return\n    result = []\n    for op in operations: \n        result.append(op(a,b))\nact_opperations(20,5)",
  "# 람다식도 list에 들어갈 수 있음\nadd = lambda a, b : a + b\nsub = lambda a, b : a - b\nmul = lambda a, b : a * b\ndiv = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'\noperations = [add,sub, mul, div] # 사칙연산 함수\n\ndef act_opperations(a, b, operations = operations): # a, b의 사칙연산 결과를 return\n    result = []\n    for op in operations: \n        result.append(op(a,b))\nact_opperations(20,5)",
  "# 람다식도 list에 들어갈 수 있음\nadd = lambda a, b : a + b\nsub = lambda a, b : a - b\nmul = lambda a, b : a * b\ndiv = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'\noperations = [add,sub, mul, div] # 사칙연산 함수\n\ndef act_opperations(a, b, operations = operations): # a, b의 사칙연산 결과를 return\n    result = []\n    for op in operations: \n        result.append(op(a,b))\n    return reslut\nact_opperations(20,5)",
  "# 람다식도 list에 들어갈 수 있음\nadd = lambda a, b : a + b\nsub = lambda a, b : a - b\nmul = lambda a, b : a * b\ndiv = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'\noperations = [add,sub, mul, div] # 사칙연산 함수\n\ndef act_opperations(a, b, operations = operations): # a, b의 사칙연산 결과를 return\n    result = []\n    for op in operations: \n        result.append(op(a,b))\n    return result\nact_opperations(20,5)",
  'act_opperations(8,2)',
  'act_opperations(8,2,[lambda x,y: x**y, lambda x,y : 10*x + y])',
  'operations.append(lambda x,y : x**y)\nlen(operations)',
  'act_opperations(8,2)',
  'map_template(lambda a : a, [1,2,3])',
  'def map_template(func,L=[]):\n    result=[]\n    for item in L:\n        result.append(item)\n    return result',
  'map_template(lambda a : a, [1,2,3])',
  'def map_template(func,L=[]):\n    result=[]\n    for item in L:\n        result.append(func(item))\n    return result',
  '# map_template(lambda a : a, [1,2,3])\nlist_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n    return x*2\nmap_template(x_2,list_data)',
  'map_template(lambda x:x*2, list_data)',
  '# 리스트 컴프리핸션\n[item*2 fot item in list_data]',
  '# 리스트 컴프리핸션\n[item*2 for item in list_data]',
  'map(lambda x : x*2, list_data)',
  'list(map(lambda x : x*2, list_data))',
  "for data in map(lambda x:x*2, list_data):\n    print(data,end =' ')",
  "# ex1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']",
  "# ex1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\nprices",
  "# ex1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))\n    \ntoint('5,000')",
  "# ex1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))   \ntoint('5,000')\n\nmap(lambda value : int(value.replace(',','')),prices)",
  "# ex1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))   \ntoint('5,000')\n\nlist(map(lambda value : int(value.replace(',','')),prices))",
  "# ex1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))   \ntoint('5,000')\n\nprices_int=map(lambda value : int(value.replace(',','')),prices)\nfor prices in prices_int:\n    print(prices, end=' ')",
  "# ex2. \n'''members1 = [{'name':'홍길동', 'birth':'2000-01-01’},/\n            {'name':'신길동', 'birth':'1995-12-18'},]를\nmembers2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1},/\n            {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환'''\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},/\n            {'name':'신길동', 'birth':'1995-12-18'},]",
  "# ex2. \n'''members1 = [{'name':'홍길동', 'birth':'2000-01-01’},\\\n            {'name':'신길동', 'birth':'1995-12-18'},]를\nmembers2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1},\\\n            {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환'''\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\\\n            {'name':'신길동', 'birth':'1995-12-18'},]",
  "# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    split_data=date.split('-')\n    return split_data\nsplit_data('2000-01-01')",
  "# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    split_data=date.split('-')\n    return {'year' : int(split_data[0]), 'month' : int(split_data)[1], 'day' : int(split_data[2])} \nsplit_data('2000-01-01')",
  "# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    split_data=date.split('-')\n    return {'year' : int(split_data[0]), 'month' : int(split_data[1]), 'day' : int(split_data[2])} \nsplit_data('2000-01-01')",
  "# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    return {'year' : int(date.split('-')[0]), \n            'month' : int(date.split('-')[1]), \n            'day' : int(date.split('-')[2])\n           } \nsplit_data('2000-01-01')",
  "# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    return {'year' : int(date.split('-')[0]), \n            'month' : int(date.split('-')[1]), \n            'day' : int(date.split('-')[2])\n           } \nsplit_data('2000-01-01')",
  "# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    split_data=date.split('-')\n    return {'year' : int(split_data[0]), \n            'month' : int(split_data[1]), \n            'day' : int(split_data[2])\n           } \nsplit_data('2000-01-01')",
  "# {'birth' : '2000-01-01'} => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date={}):\n    return {'year' : int(date.values.split('-')[0]) if date.key = 'birth', \n            'month' : int(date.values.split('-')[1]) if date.key = 'birth', \n            'day' : int(date.values.split('-')[2]) if date.key = 'birth'\n           } \nsplit_data({'birth':'2000-01-01'})",
  "# {'birth' : '2000-01-01'} => {'year' : 2000, 'month' : 1, 'day' : 1}\ndef split_data(date):\n    return {'year' : int(date['birth'].split('-')[0]), \n            'month' : int(date['birth'].split('-')[1]), \n            'day' : int(date['birth'].split('-')[2])\n           } \nsplit_data({'birth':'2000-01-01'})",
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\ndef split_data(date):\n    return {'name' : date['name'],\n            'year' : int(date['birth'].split('-')[0]), \n            'month' : int(date['birth'].split('-')[1]), \n            'day' : int(date['birth'].split('-')[2])\n           } \nsplit_data({'name':'홍길동', 'birth':'2000-01-01'})",
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\ndef split_data(date):\n    return {'name' : date['name'],\n            'year' : int(date['birth'].split('-')[0]), \n            'month' : int(date['birth'].split('-')[1]), \n            'day' : int(date['birth'].split('-')[2])\n           } \nsplit_data({'name':'홍길동', 'birth':'2000-01-01'})\n\nspt_d = lambda date : 'name' : date['name'],\\\n            'year' : int(date['birth'].split('-')[0]),\\\n            'month' : int(date['birth'].split('-')[1]),\\\n            'day' : int(date['birth'].split('-')[2])\nspt_d({'name':'홍길동', 'birth':'2000-01-01'})",
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\ndef split_data(date):\n    return {'name' : date.get('name', '이름없음'), # date['name']- 사용해도 큰 문제는 없으나 만약 name가 없다면 error\n            'year' : int(date.get('birth').split('-')[0]), \n            'month' : int(date.get('birth').split('-')[1]), \n            'day' : int(date.get('birth').split('-')[2])\n           } \nsplit_data({'name':'홍길동', 'birth':'2000-01-01'})\n\n# spt_d = lambda date : 'name' : date['name'],\\\n#             'year' : int(date['birth'].split('-')[0]),\\\n#             'month' : int(date['birth'].split('-')[1]),\\\n#             'day' : int(date['birth'].split('-')[2])\n# spt_d({'name':'홍길동', 'birth':'2000-01-01'})",
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\\\n            {'name':'신길동', 'birth':'1995-12-18'},]\n\ndef split_data(date):\n    return {'name' : date.get('name', '이름없음'), # date['name']- 사용해도 큰 문제는 없으나 만약 name가 없다면 error\n            'year' : int(date.get('birth').split('-')[0]), \n            'month' : int(date.get('birth').split('-')[1]), \n            'day' : int(date.get('birth').split('-')[2])\n           } \nsplit_data(members1)\n\n# spt_d = lambda date : 'name' : date['name'],\\\n#             'year' : int(date['birth'].split('-')[0]),\\\n#             'month' : int(date['birth'].split('-')[1]),\\\n#             'day' : int(date['birth'].split('-')[2])\n# spt_d({'name':'홍길동', 'birth':'2000-01-01'})",
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\\\n            {'name':'신길동', 'birth':'1995-12-18'},]\n\ndef split_data(date):\n    return {'name' : date.get('name', '이름없음'), # date['name']- 사용해도 큰 문제는 없으나 만약 name가 없다면 error\n            'year' : int(date.get('birth').split('-')[0]), \n            'month' : int(date.get('birth').split('-')[1]), \n            'day' : int(date.get('birth').split('-')[2])\n           } \nsplit_data({'name':'홍길동', 'birth':'2000-01-01'})\n\n# spt_d = lambda date : 'name' : date['name'],\\\n#             'year' : int(date['birth'].split('-')[0]),\\\n#             'month' : int(date['birth'].split('-')[1]),\\\n#             'day' : int(date['birth'].split('-')[2])\n# spt_d({'name':'홍길동', 'birth':'2000-01-01'})",
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\\\n            {'name':'신길동', 'birth':'1995-12-18'},]\n\ndef members_preprocessing(date):\n    return {'name' : date.get('name', '이름없음'), # date['name']- 사용해도 큰 문제는 없으나 만약 name가 없다면 error\n            'year' : int(date.get('birth').split('-')[0]), \n            'month' : int(date.get('birth').split('-')[1]), \n            'day' : int(date.get('birth').split('-')[2])\n           } \nmembers_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})\n\n# spt_d = lambda date : 'name' : date['name'],\\\n#             'year' : int(date['birth'].split('-')[0]),\\\n#             'month' : int(date['birth'].split('-')[1]),\\\n#             'day' : int(date['birth'].split('-')[2])\n# spt_d({'name':'홍길동', 'birth':'2000-01-01'})",
  'members2 = list(map())',
  'members1 = list(map())',
  "# {'name':'홍길동', 'birth':'2000-01-01’} => {'name':'홍길동', 'year':2000, 'month':1,'day':1}\nmembers2 = [{'name':'홍길동', 'birth':'2000-01-01'},\\\n            {'name':'신길동', 'birth':'1995-12-18'},]\n\ndef members_preprocessing(date):\n    return {'name' : date.get('name', '이름없음'), # date['name']- 사용해도 큰 문제는 없으나 만약 name가 없다면 error\n            'year' : int(date.get('birth').split('-')[0]), \n            'month' : int(date.get('birth').split('-')[1]), \n            'day' : int(date.get('birth').split('-')[2])\n           } \nmembers_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})",
  'members2 = list(map())',

In [206]:
all([True,True,True,False]) # 모든 요소가 True인지 여부

False

# 6절 연습문제

In [85]:
# 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최댓값과 최솟값을 리턴
def get_max_min(data_list):
    data_list.sort()
    max_=data_list[len(data_list)-1]
    min_=data_list[0]
    
    return {'최댓값': max_, '최솟값' : min_}
L=[3,2,1,4,5,6,7,9,8]
print(get_max_min(L))

{'최댓값': 9, '최솟값': 1}

In [111]:
# 1-1. 다른 방식으로 풀려면
def get_max_min(data_list):
    return {"최댓값" : max(data_list), '최솟값' : min(data_list)}
print(get_max_min(L))
get_max_min = lambda data_list : (max(data_list), min(data_list)) 
# 람다식을 바꾸면 반드시 튜플로, 괄호가 없다면 ,앞까지만 인식함
print(get_max_min(L))

{'최댓값': 9, '최솟값': 1}
(9, 1)

In [9]:
# 2. 체중(kg)과 신장(m)을 입력받은 후 BMI값에 따라 '마른체형', '표준','비만','고도비만'중 하나의 상태를 출력
'''
getBMI(kg,m):
BMI지수 = 체중/신장**2
BMI<18.5 : 마른체형
18.5<= BMI < 25 :표준
25<= BMI <30 : 비만
BMI >=30 :고도비만
'''

def getBMI(kg,m): 
    bmi= kg/(m**2)
    
    if bmi < 18.5:
        print('마른체형')
    
    elif 18.5 <= bmi < 25:
        print('표준')
    
    elif 25 <= bmi < 30:
        print('비만')
    
    elif 30 <= bmi:
        print('고도비만')
getBMI(50,1.75)

마른체형

In [208]:
# 3. 직각삼각형 w, h로 area, perimeter(넓이, 둘레)
import math
def get_trianle(w,h):
    area = w * h * 0.5
    # math.sqrt() : 제곱근
    perimeter = w + h + math.sqrt(w**2 + h**2)
    return {'넓이':area, '둘레':perimeter}
get_trianle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [10]:
# 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수(시작값, 끝값 포함)
def mysum(fRom,end):
    large = abs(end - fRom)
    
    # 시작값과 끝 값을 짝지은 후 같은 값들의 묶음들의 갯수만큼 곱
    # 단 정수들의 갯수가 홀수일 땐 중앙값을 찾아 추가로 더함
     # ex1 1~4 (1+4)+(2+3)
    if large%2:
        sum_ = (fRom + end) * ((large // 2)+1)
    
    # ex1 1~5 (1+5)+(2+4)+(3)
    else:
         sum_ = (fRom + end) * (large // 2)+((fRom + end)//2)
            
    return sum_

print('mysum 함수 :', mysum(-3,5))

i=lambda x,y : (x+y)*(abs(x-y)//2+1) if abs(x-y)%2 else (x+y)*(abs(x-y)//2) + ((x+y)//2)

print('람다식으로 : ', i(-6,8))

mysum 함수 : 9
람다식으로 :  15

In [9]:
# 4.1 for문
def mysum(fRom,end):
    sum=0
    for i in range(fRom,end+1):
        sum+=i
    return sum
print(mysum(-3,5))

9

In [18]:
# 5. 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수, 람다식-[수정]
lst=['Seoul','Deagu','Kwangju','Jeju']
def get_addrs(lst):
    list_=[]
    for l in lst:
        list_.append(l[:3])
    return list_
print(get_addrs(lst))

def get_addrs(lst):
    return [x[:3] for x in lst]

print(get_addrs(lst))
print((lambda l: [x[:3] for x in l])(lst))

['Seo', 'Dea', 'Kwa', 'Jej']
['Seo', 'Dea', 'Kwa', 'Jej']
['Seo', 'Dea', 'Kwa', 'Jej']

In [37]:
# 6. 다음 코드를 람다 함수 현태로 수정할 때 알맞은 코드
'''
def f(x,y)
    return x**y
'''
f = lambda x,y : x**y
f(2,4)

16

In [40]:
# 7.ex=[1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현,
ex=[1,2,3,4,5]
print('mpa과 람다함수로 구현',list(map(lambda x: x**2,ex)))

# 리스트 컴프리헨션으로 구현
print('리스트 컴프리헨션으로 구현',[data**2 for data in ex])

mpa과 람다함수로 구현 [1, 4, 9, 16, 25]
리스트 컴프리헨션으로 구현 [1, 4, 9, 16, 25]

In [ ]:
# 8.다음 코드를 각각 실행하면 서로다는 결과가 나오는 이유는
'''
a=[1,2,3]
print(*a)
1 2 3
print(a)
[1,2,3]
'''
# print(*a)는 언패킹을 통해 데이터 값들을 출력하고 print(a)는 리스트 자체를 출력하기에

In [ ]:
# 9.다음 코드의 실행 결과는?
'''
date_info={'year':2024, 'monmth':9, 'day':6}
result=''{year}-{month}-{day}'.format(**date_info)
result'''
# '2024-9-6'

In [5]:
# 10. n 개의 백터(리스트나 튜플, 셋, 딕셔너리)들의 크기가 같은지 여부를 return하는 vector_siz_cheak(*ved=ctor_var)을 
# 리스트컴프리헨션으로 작성. (데이터의 크기는 셋으로 작성하면 쉬움) -[수정]
def vector_size_check(*vector_var):
        vector_set=set()
        for vector in vector_var:
            vector_set.add(len(vector))
        return len(vector_set)==1

def lamb_vector(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1

print(lamb_vector([1,2],{10,20},{'name':'홍','age':30},(1,2)))
print(lamb_vector([1,2],{10,20},{'name':'홍','age':30},(1,)))

True
False

In [ ]:
# 11.하나의 스칼라값을 리스트나 튜플, 셋등에 벡터를 곱하는 코드를 작성하시오
def scalar_vector_product(scl,lst):
    return list(map(lambda x : x * scl, lst))
scalar_vector_product(5,[1,2,3,4])

[5, 10, 15, 20]

In [ ]:
# 서술형 
# 1. 다음 코드의 실행결과는?
pairs =[(1,'d'),(2,'c'),(3,'b'),(4,'a')]
pairs.sort(key=lambda pair : pair[1])
pairs

# [(4,'a'),(3,'b'),(2,'c'),(1,'d')]

In [ ]:
# 2. 오류가 발생하는 라인과 문제 해결을 위한 코드, 코드 수정 후 결과는?
# a=10
def sub():
#     a=10
    global a
    a+=1
    print(a, end=' ')

def func():
    for i in range(2):
        a=5
        a += 1
        print(a,end=' ')
        sub()
a += 1
func()
# 오류가 발생하는 라인 : 4(def sub()  아래의 a+=1)
# 문제 해결을 위한 코드 :  def sub():위의 a=10을 def sub():와 a+=1 사이에 넣는다./ global a 를 이용하는 것이 출제의도
# 실헹결과 : 6 12 6 13

6 11 6 11

In [ ]:
# 3. 다음 구문을 실행한 결과는
var=100
def func(var):
    var=200
func(var)
print(var)
# 100 
# print(var)은 출력을 위해 함수를 실행한 것이 아니기에 전역변수 var=100을 출력

In [ ]:
# 4. 다음 구문의 실행 결과는?
def my_func(func,*args):
    return func(*args)
import numpy as np
my_func(np.add,2,3)
# 5 
# func(*args)에서 함수func에 튜플 매개변수를 넣으라고 했기에 np,add(더하기함수)에 2,3을 넣어 2+3을 싷행했다

5

In [ ]:
# 5. 다음 구문의 실행 결과는?
def my_func(func,*args):
    return func(*args)
my_func(lambda a,b : a**b, 3, 2)
# 9
# 람다함수에 변수 3,2를 넣으라고 했고 람다함수는 3**2를 리턴하여 3의 제곱인 9가 리턴된다

In [ ]:
# 6. 파이썬 함수에 대한 설명 중 잘못된 것은?
'''
①파이썬의 함수는 중복 정의해 사용할 수 있다.
②파이썬의 함수 매개변수는 기본값을 가질 수 있다.
③**args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
④함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.
'''
# ① 파이썬 함수는 중복 정의할 경우 가장 마지막에 작성된 함수로 덮어쓰기 된다

In [ ]:
# 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
list_=[]
def func(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
'''
①func(10,list_)
②func(20,L=list_
③func(a=30)
④func([],a=40) 
'''
# ④func([],a=40) 
# a는 순서인수 L은 키워드 인수이기에 func([],a=40)은 순서인수a에 빈 리스트, 키워드인수L에 40이 할당되어 오류가 발생한다.

In [ ]:
# 8.다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요(영소문자로)
'''
-작은 익명함수를 의미
-함수가 실행할 문장이 한 문자일 겨우에 만들어 사용가능
-다른 함수의 인수 또는 리턴값에 사용할 수 있음
'''
# lambda