In [41]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch.09 파일 i/o 프로그래밍</font></b>
- 파일 : txt, pickle(머신러닝모델저장, 배열저장), csv, json, h5(딥려닝모델저장)
# 1절 txt 파일에 데이터 저장하고 불러오기

In [8]:
# mode = 'r' 또는 'rt' : 텍스트 읽기모드로 열기. 파일이 없을 경우 예외발생,
# mode = 'w' 또는 'wt' : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생. 
                    #   파일이 없을 경우 파일 생성, 파일이 있으면 덮어씀
# mode = 'a' 또는 'at': 텍스터 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                    #   파일이 없을 경우 파일 생성, 파일이 있으면 뒤에 append
f = open('data/ch09.txt','w') # encoding='cp949'(win)
print('쓰기 가능한지 :',f.writable())
f.write('Hello\nWorld\n')
f.close()

쓰기 가능한지 : True

In [10]:
# with구문을 사용하면 매번 close()하는 코드가 불필요
with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 :',f.writable())
    f.write('Python is easy. \nPython is smart.\n')

쓰기 가능한지 : True

In [12]:
with open('data/ch09.txt','a') as f: #cp949
    print('프린트 함수로 파일 쓰기가 가능합니다.-파일출력',file=f)
    print('프린트 함수로 파일 쓰기가 가능합니다.-콘솔출력')
#     f.write()

프린트 함수로 파일 쓰기가 가능합니다.-콘솔출력

- 한글 읽기/쓰기
    * cp949(한글완성형확장형) : open함수의 기본 인코딩(win)
    * utf-8(한글조합형) : 주피터노트북에서 열기가능

In [13]:
with open('data/ch09.txt','w',encoding='utf-8') as f:
    # 방법1
    f.write('홍길동, 30, 서울\n')
    f.write('김길동, 20, 수원\n')
    # 방법2
    textlist=['홍길동, 30, 서울\n','김길동, 20, 부산\n']
    for line in textlist:
        f.write(line)
    # 방법3
    f.writelines(textlist) # 리스트를 한꺼번에 write

In [14]:
# 파일을 한꺼번에 읽어오기
with open('data/ch09.txt','rt',encoding='utf-8') as f:
    filecontent = f.read()
filecontent

'홍길동, 30, 서울\n김길동, 20, 수원\n홍길동, 30, 서울\n김길동, 20, 부산\n홍길동, 30, 서울\n김길동, 20, 부산\n'

In [17]:
# 파일을 한줄 읽고 출력하고, 한줄읽고 출력,.....
with open('data/ch09.txt','rt',encoding='utf-8') as txtfile:
    line = txtfile.readline()
    while line != '':
        print(line, end='') # line 에 \n이 포함되어 있어 출력시 즉시 개행
        line =txtfile.readline()

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

In [18]:
# 파일을 한꺼번에 여러 줄 읽어, 한줄씩 list 담아 retrurn
with open('data/ch09.txt','rt',encoding='utf-8') as txtfile:
    lines=txtfile.readlines()
print(lines)

['홍길동, 30, 서울\n', '김길동, 20, 수원\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n']

In [20]:
for line in lines:
    print(line,end ='')

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

# 2절 피클을 이욜한 객체 저장 및 불러오기
- 머신러닝 모델저장, 베열저장, 객체저장
## 2.1 형식이 있는 텍스트 데이터 불러오기

In [28]:
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines= f.readlines()
# print(lines)
for line in lines:
    #print(line)
    data = line.split(', ')
    #print(data)
    name=data[0]
    age=int(data[1])
    email=data[2]
    address=data[3].strip()
    print({'name' : name},{'age' : age},{'email' : email}, {'address' : address})

{'name': '홍길동'} {'age': 20} {'email': 'kildong@hong.com'} {'address': '서울시 관악구'}
{'name': '홍길숙'} {'age': 25} {'email': 'kilsuk1@hong.com'} {'address': '서울시 영등포구'}
{'name': '신길동'} {'age': 30} {'email': 'shinkil@hong.com'} {'address': '서울시 동작구'}

In [43]:
class Member:
    def __init__(self, name, age, email, address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.address)
#     def __eq__(self,other):
#         return self.name == other.name and \
#                 self.age == other.age and \
#                 self.email == other.email and\
#                 self.address == other.address
    def __eq__(self,other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__
#         return {'name':self.name
#                  'age':self.age
#                   'emali':self.email
#                   'address': self.address}

In [48]:
member1=Member('신길동', 30,  'shinkil@hong.com', '서울시 동작구')
member2=Member('신길동', 30,  'shinkil@hong.com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1)
print(member2.__eq__(member1))
print(member1.__dict__)
print(member2.as_dict)

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
True
True
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}
신길동,30,shinkil@hong.com,서울시 동작구

## 2.2 피클링
- 객체리스트 -> 피클파일로 쓰기
- 피클파일 -> 객체리스트로 읽기

In [50]:
# ch09._member.txt 파일 -> 객체list, 딕셔너리list로 읽어오기
member_list=[] # member 객체 list
dict_list =[] # 딕셔너리 list
with open('data/ch09_member.txt',encoding='UTF8') as f:
    lines = f.readlines()
for line in lines:
    data=line.split(', ')
    data = [item.strip() for item in data]
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3]
    member=Member(name,age,email,address)
    member_list.append(member)
    dict_list.append(member)

In [51]:
for member in member_list: # 객체 list
    print(member)

홍길동,20,kildong@hong.com,서울시 관악구
홍길숙,25,kilsuk1@hong.com,서울시 영등포구
신길동,30,shinkil@hong.com,서울시 동작구

In [52]:
# 피클링(확장자 : pkl, pickle, data)을 이용한 객체를 파일에 저장하기
import pickle
with open('data/ch09_member.pkl','wb') as f:
    pickle.dump(member_list,f)

In [53]:
# 피클링을 이용한 파일을 객체리스트로 읽기
with open('data/ch09_member.pkl','rb') as f:
    load_member_list = pickle.load(f)

In [55]:
id(member_list), id(load_member_list)

(2089424982400, 2089426503936)

In [57]:
for idx in range(len(member_list)):
    print(idx, '번째 비교 :',(member_list[idx]==load_member_list[idx]))

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [60]:
for idx, (member, load_member) in enumerate(zip(member_list,load_member_list)):
    print(idx, '번째 비교:', member==load_member)

0 번째 비교: True
1 번째 비교: True
2 번째 비교: True

In [61]:
result=[] # 비교결과(True/False)를 append
for member, load_member in zip(member_list,load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [62]:
all(result) #모든 요소들이 True 인지 여부

True

In [64]:
all([True,True,True,True,False])

False

# 3절 CSV파일 읽기/쓰기
- CSV파일의 자료를 리스트 데이터로 읽고 쓰기 (3.1과 3.2)
- CSV파일의 자료를 딕셔너리 데이터로 읽고 쓰기 (3.3과 3.4)
## 3.1 reader

In [70]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result=list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [71]:
with open('data/ch09_member1-cp.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [74]:
# ""(쌍따옴표)가 없는 데이터는 numeric으로 
with open('data/ch09_member1.csv','r', encoding='utf-8') as f:
    reader = csv.reader(f, quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']
['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']

## 3.2 writer
- list -> csv로 저장

In [77]:
user_list=[['신길동', 30.0, 'sindong@hong.com', '서울시 관악구'],
          ['홍길동', 20.0, 'sindong@hong.com', '서울시 동작구'],
          ['박길동', 25.0, 'sindong@hong.com', '서울시 서초구']]

In [79]:
# newline='' 옵션 뺴면 개행이 2번(python 3.10)
try:
    with open('data/ch09_member2_write.csv','wt', newline='') as f:
        writer = csv.writer(f)
#         for user in user_list:
#             write.writerow(user)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

## 3.3 DictReader
- csv 파일을 딕셔너리 데이터로 읽기

In [81]:
import csv
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member.csv)
with open('data/ch09_member3.csv','r',encoding='utf-8') as f:
    dic_reader=csv.DictReader(f)
    result = list(dic_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [82]:
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member.csv)
with open('data/ch09_member3.csv','r',encoding='utf-8') as f:
    dic_reader=csv.DictReader(f, restval="없음")
    for row in dic_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [84]:
# csv 파일을 데이터프레임 데이터로 읽기
import pandas as pd
members = pd.read_csv('data/ch09_member3.csv') # 기본 인코딩 방식이 utf-8
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [85]:
type(members)

pandas.core.frame.DataFrame

In [86]:
pd.DataFrame(data=result)

  name age    email   address   job
0  홍길동  20  h@h.com   서울시 관악구  None
1  신길동  40  s@h.com  서울시 영등포구    팀장
2  김길동  30  k@h.com   서울시 동작구  None

In [91]:
# header가 없는 CSV파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [90]:
# header가 없는 CSV파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'], restkey='Job')
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4 DictWriter
- 딕셔너리 데이터(딕셔너리 list)를 csv 파일로 쓰기

In [92]:
user1={'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울'}
user2={'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '수원'}
user3={'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '안양'}
user_list=[user1,user2,user3]
user_list

[{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '수원'},
 {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '안양'}]

In [95]:
fieldnames = list(user1.keys())
fieldnames

['Name', 'Age', 'Email', 'Address']

In [96]:
with open('data/ch09_member4.csv','w',encoding='utf-8',newline='') as f:
    dict_writer = csv.DictWriter(f,fieldnames=fieldnames)
    dict_writer.writeheader() #header 한 줄 쓰기
    dict_writer.writerows(user_list)

# 4절 JSON 파일에 저장하고 불러오기(dump,load)
```
[{'title':'국가정보원 화재','url':'http://~','content': ~ }
{'title':'국가정보원 화재','url':'http://~','content': ~ }
{'title':'국가정보원 화재','url':'http://~','content': ~ }]
```
## 4.1 JSON dump(파일에 저장)
### (1) 딕셔너리 리스트를 json파일로 저장
### (2) 객체 리스트를 json파일로 읽기(객체를 딕셔러리로 바꾸는 함수가 필요)

In [97]:
data=[{'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '대전'}]
data

[{'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '대전'}]

In [123]:
# ensure_ascii 옵션의 역할 : ASCII 코드를 넘어선 문자를 어껗게 처리할지
# 기본값(True) : ASCII 코드 범위를 넘어선 굴자는 유니코드로 저장
# False : 비ASCII 문자는 원래 형태 그대로 저장
import json
with open('data/ch09_member1.json','w') as jsonfile:
    json.dump(data, # 딕셔너리 리스트
             jsonfile, # 파일 스트림
             ensure_ascii=False,
             indent='  ')

### (2) 객체 list를 json파일로 저장

In [103]:
class Member:
    def __init__(self, name, age, email, address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.address)
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [104]:
member_list = [Member('홍길동', 30, 'h@h.com','서울'),
              Member('마길동', 25, 'm@h.com','하남'),
              Member('박길동', 30, 'p@h.com','대전')]
[member.__str__() for member in member_list]

['홍길동,30,h@h.com,서울', '마길동,25,m@h.com,하남', '박길동,30,p@h.com,대전']

In [124]:
with open('data/ch09_member2.json','w',encoding='utf-8') as jsonfile:
    json.dump(member_list, # 저장할 리스트
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict)

## 4.2 JSON load(파일읽기)
### (1)json파일을 딕셔너리 리스트로 읽기
### (2)json파일을 객체 리스트로 읽기(딕셔러리를 객체로 return 하는 함수가 필요)

In [108]:
### (1)json파일을 딕셔너리 리스트로 읽기
with open('data/ch09_member1.json','r') as jsonfile:
    load_data = json.load(jsonfile)
load_data

[{'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '대전'}]

In [109]:
type(load_data), type(load_data[0])

(list, dict)

In [127]:
### (2)json파일을 객체 리스트로 읽기(딕셔러리를 객체로 return 하는 함수가 필요)
# {'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '서울'} => member('신길동',30,'sindong@hong.com','서울')
def as_member(dic):
    return Member(dic.get('name'), dic.get('age'),dic.get('email'),dic.get('address'))

In [135]:
with open('data/ch09_member2.json','r',encoding='utf-8') as jsonfile:
    load_member_list=json.load(jsonfile, 
                          object_hook=as_member) # 딕셔너리를 객체로 return 함수
for load_member in load_member_list:
    print(load_member)
# [data.__str__() for data in load_member_list]

홍길동,30,h@h.com,서울
마길동,25,m@h.com,하남
박길동,30,p@h.com,대전

In [142]:
#  member_list => ch09_member2.json => load_member_list
#  member_list 와 load_member_list가 같은 내용인지 검사
# [data.__str__() for data in member_list]

result = [] # list 내 객체들 끼리 비교 결과 
for (member,load_member) in zip(member_list, load_member_list):
    print(member,load_member)
    result.append(member==load_member)
print(result)
# print('두 객체가 일치하는 지 여부 :',all(result))

홍길동,30,h@h.com,서울 홍길동,30,h@h.com,서울
마길동,25,m@h.com,하남 마길동,25,m@h.com,하남
박길동,30,p@h.com,대전 박길동,30,p@h.com,대전
[False, False, False]

In [141]:
import numpy as np
result = np.array([True, True, True, False, True])
type(result)
np.where(result == False)

(array([3], dtype=int64),)

In [137]:
result = set() #  빈 셋 / {}: 빈 딕셔너리
for member, load_member in zip(member_list,load_member_list):
    result.add(member==load_member)
result

{False}