In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch.11 데이터 프레임과 시리즈(Pandas)</font></b>
- pip install pandas
# 1절 판다스 패키지
- 데이터 분석을 위해 반드시 알아야 할 패키지. 넘파이를 기반으로 하며, 다른 많은 라이브러리와 잘 통합되도록 설계

- 2차원 구조를 갖는 데이터프레임, 1차원 구조를 갖는 시리즈를 제공

- 판다스 장점 : 
            * 데이터프레임생성, 파일io, 레이블링, 부분데이터 추출
            * 크기변경(행이나 열 삽입, 삭제), 데이터 분할, 병합, 데이터 구조 변경,
            * 결측치 처리, 

- https://pypi.python.org/pypi/pandas(package index)
- http://pandas.pydata.org/pandas-docs/stable/api.html(API reference)

In [24]:
import pandas as pd
pd.__version__

'1.5.3'

In [7]:
data=pd.read_json('data/ch09_member1.json', encoding="cp949") # 기본 인코딩 = "utf-8"
display(data) # print(data)를 마지막에 넣지 않으면 보기 싫게 나온다. 이 때는 display(data)를 사용하자
print(type(data))

  Name  Age             Email Address
0  신길동   30  sindong@hong.com      서울
1  김길동   40  kimdong@hong.com      부산
2  홍길동   20  kildong@hong.com      대전

<class 'pandas.core.frame.DataFrame'>

In [9]:
member4 = pd.read_csv('data/ch09_member4.csv')
member4

  Name  Age             Email Address
0  신길동   30  sindong@hong.com      서울
1  김길동   40  kimdong@hong.com      수원
2  홍길동   20  kildong@hong.com      안양

In [11]:
member1 = pd.read_csv('data/ch09_member1.csv',header=None, names=['name', 'email', 'address']) # ※ 주의 머릿글이 없을 때 header를 생략하면 첫번째 값이 머릿글로 출력됨
member1

     name             email   address
홍길동    20  kildong@hong.com   서울시 관악구
김길동    40  kimdong@hong.com  서울시 영등포구
신길동    30  sindong@hong.com   서울시 동작구

# 2절 데이터 프레임 만들기
## 2.1 딕셔너리 리스트를 이용해서 데이터 프레임 만들기

In [13]:
d=[{'kor':100, 'mat':95}, {'kor':90, 'mat':99}]
df = pd.DataFrame(data=d)
df

   kor  mat
0  100   95
1   90   99

In [14]:
df.to_dict() # 데이터프레임을 딕셔너리로

{'kor': {0: 100, 1: 90}, 'mat': {0: 95, 1: 99}}

In [16]:
df.to_numpy() # 데이터프레임을 넘파이배열
df.values # 데이터프레임을 넘파이배열 이 쪽을 좀 더 쓰는 것 같음

array([[100,  95],
       [ 90,  99]], dtype=int64)

In [18]:
df.dtypes # 열의 타입

kor    int64
mat    int64
dtype: object

In [19]:
df.info() # ★

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      int64
 1   mat     2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

In [21]:
df['kor'].dtype

dtype('int64')

In [26]:
# 타입변경(열마다)
import numpy as np
df['kor'].astype(np.float64)
# df['kor'].astype('float64') # import numpy를 쓰기 싫은 경우
df['kor']=df['kor'].astype(np.float64) # kor열의 타입을 float64로

NameError: name 'df' is not defined

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      float64
 1   mat     2 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 160.0 bytes

In [33]:
d=[{'kor':100.0, 'mat':95}, {'kor':90, 'mat':99},{'kor':92, 'eng':99}]
df = pd.DataFrame(data=d)
df

     kor   mat   eng
0  100.0  95.0   NaN
1   90.0  99.0   NaN
2   92.0   NaN  99.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     3 non-null      int64
 1   mat     2 non-null      float64
 2   eng     1 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

In [30]:
type(np.nan) # np.nan(결측치)

float

In [34]:
df['kor']=df['kor'].astype('int32')
df

   kor   mat   eng
0  100  95.0   NaN
1   90  99.0   NaN
2   92   NaN  99.0

In [37]:
# 결측치는 int로 형변환 불가(결측치는 대체값으로 치환 후 변환)
# df['mat']= df['mat'].astype('int32')

## 2.2 리스트를 이용해서 데이터프레임 만들기

In [39]:
kor = [100,90,95,90,65]
mat = [99,100,95,98,94]
df = pd.DataFrame({'kor':kor, 'mat':mat})
df.head(2) # 상위 2행만 출력

   kor  mat
0  100   99
1   90  100

In [40]:
np.c_[kor,mat]

array([[100,  99],
       [ 90, 100],
       [ 95,  95],
       [ 90,  98],
       [ 65,  94]])

In [43]:
df = pd.DataFrame(data=np.c_[kor,mat],columns=['국어', '수학'])
df

    국어   수학
0  100   99
1   90  100
2   95   95
3   90   98
4   65   94

In [45]:
df.shape

(5, 2)

In [47]:
l = [['트렌드 코리아2026', '김난도', 18000, 10],
     ['사찬탱고', '라슬로', 17820, 10],
     ['미술관 여행자', '카미유주노', 29700, 10]]
df = pd.DataFrame(l,columns=['작가이름','저자','가격','할인율'])
df

          작가이름     저자     가격  할인율
0  트렌드 코리아2026    김난도  18000   10
1         사찬탱고    라슬로  17820   10
2      미술관 여행자  카미유주노  29700   10

In [ ]:
# %ls : ipython 매직 명령어
# !dir : 쉘 명령어

In [50]:
%ls "c:/ai/downloads/shareData/상가정보/"

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: A014-DCD6

 c:\ai\downloads\shareData\상가정보 디렉터리

2025-10-13  오후 03:51    <DIR>          .
2025-10-13  오후 03:51    <DIR>          ..
2025-04-27  오후 11:07             1,011 [필독]파일열람방법.txt
2025-04-27  오후 11:07        61,227,944 소상공인시장진흥공단_상가(상권)정보_강원_202503.csv
2025-04-27  오후 11:07       356,572,082 소상공인시장진흥공단_상가(상권)정보_경기_202503.csv
2025-04-27  오후 11:07        93,472,559 소상공인시장진흥공단_상가(상권)정보_경남_202503.csv
2025-04-27  오후 11:07        76,425,275 소상공인시장진흥공단_상가(상권)정보_경북_202503.csv
2025-04-27  오후 11:07        40,070,868 소상공인시장진흥공단_상가(상권)정보_광주_202503.csv
2025-04-27  오후 11:07        61,715,005 소상공인시장진흥공단_상가(상권)정보_대구_202503.csv
2025-04-27  오후 11:07        41,491,092 소상공인시장진흥공단_상가(상권)정보_대전_202503.csv
2025-04-27  오후 11:07        84,550,600 소상공인시장진흥공단_상가(상권)정보_부산_202503.csv
2025-04-27  오후 11:07       294,549,483 소상공인시장진흥공단_상가(상권)정보_서울_202503.csv
2025-04-27  오후 11:07         9,303,432 소상공인시장진흥공단_상가(상권)정보_세종_202503.csv
2025-04-27  오후 11:07        28,457,489 소상공인시장진흥공단_상가(상권)정보_울산_202503.csv
2025-04-27  오후 11:07        73,022,149 소상공인시장진흥공단_상가(상권)정보_인천_202503.csv
2025-04-27  오후 11:07        52,997,974 소상공인시장진흥공단_상가(상권)정보_전남_202503.csv
2025-04-27  오후 11:07        56,252,705 소상공인시장진흥공단_상가(상권)정보_전북_202503.csv
2025-04-27  오후 11:07        32,943,677 소상공인시장진흥공단_상가(상권)정보_제주_202503.csv
2025-04-27  오후 11:07        66,591,896 소상공인시장진흥공단_상가(상권)정보_충남_202503.csv
2025-04-27  오후 11:07        50,727,673 소상공인시장진흥공단_상가(상권)정보_충북_202503.csv
              18개 파일       1,480,372,914 바이트
               2개 디렉터리  155,361,124,352 바이트 남음

In [53]:
df=pd.read_csv('c:/ai/downloads/shareData/상가정보/소상공인시장진흥공단_상가(상권)정보_서울_202503.csv',
           encoding="utf-8", sep=",", #encoding 와 sep는 헤당 값이 기본값이라 생략가능
            nrows=70) # 처음 70행만 가져옴
df.shape

(70, 39)

In [54]:
df.head(1) # 상위 1행만

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220800000033,부동산임대김은숙,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,1111014000100280021026727,NaN,서울특별시 종로구 삼청로 122-1,110230,3053,NaN,NaN,NaN,126.98184,37.58625

In [56]:
# 판다스 디스플레이 옵션
pd.options.display.max_columns = 39 # 39열 까지 display가능. 기본값은 20
pd.options.display.max_rows = 70 # 70행 까지 display가능. 기본값은 60

In [57]:
df.head(1)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,시도코드,시도명,시군구코드,시군구명,행정동코드,행정동명,법정동코드,법정동명,지번코드,대지구분코드,대지구분명,지번본번지,지번부번지,지번주소,도로명코드,도로명,건물본번지,건물부번지,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220800000033,부동산임대김은숙,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,기타 비알코올 음료점업,11,서울특별시,11110,종로구,11110540,삼청동,1111014000,삼청동,1111014000100280021,1,대지,28,21.0,서울특별시 종로구 삼청동 28-21,111103100007,서울특별시 종로구 삼청로,122,1.0,1111014000100280021026727,NaN,서울특별시 종로구 삼청로 122-1,110230,3053,NaN,NaN,NaN,126.98184,37.58625

In [58]:
df.head(1).T

                                   0
상가업소번호          MA010120220800000033
상호명                         부동산임대김은숙
지점명                              NaN
상권업종대분류코드                         I2
상권업종대분류명                          음식
상권업종중분류코드                       I212
상권업종중분류명                       비알코올
상권업종소분류코드                     I21201
상권업종소분류명                          카페
표준산업분류코드                      I56229
표준산업분류명                 기타 비알코올 음료점업
시도코드                              11
시도명                            서울특별시
시군구코드                          11110
시군구명                             종로구
행정동코드                       11110540
행정동명                             삼청동
법정동코드                     1111014000
법정동명                             삼청동
지번코드             1111014000100280021
대지구분코드                             1
대지구분명                             대지
지번본번지                             28
지번부번지                           21.0
지번주소             서울특별시 종로구 삼청동 28-21
도로명코드                   111103100007
도로명                    서울특별시 종로구 삼청로
건물본번지                            122
건물부번지                            1.0
건물관리번호     1111014000100280021026727
건물명                              NaN
도로명주소            서울특별시 종로구 삼청로 122-1
구우편번호                         110230
신우편번호                           3053
동정보                              NaN
층정보                              NaN
호정보                              NaN
경도                         126.98184
위도                          37.58625

## 2.4 read_csv

In [59]:
pd.read_csv?

In [61]:
# (1) CSV파일 불러오기(기본값)
member = pd.read_csv('data/ch11_member.csv',
                    #, encoding='utf-8', sep=',', comment 주석처리x
                    )
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int64
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      object
dtypes: int64(1), object(4)
memory usage: 368.0+ bytes

In [66]:
# 문자형으로 읽어들인 Birth를 datetime형으로
# 형변환 : astype('int64'), astype('datetime64' : 비추)
#         to_datetime()함수
# member['Birth'].astype('datetime64') 
member['Birth']=pd.to_datetime(member['Birth'])
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int64
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 368.0+ bytes

In [68]:
member['Age'] = member['Age'].astype(np.int16)
member.dtypes

Name               object
Age                 int16
Email              object
Address            object
Birth      datetime64[ns]
dtype: object

In [70]:
# (2) 특정행을 제외하고 csv 파일 읽어오기
members = pd.read_csv('data/ch11_membercp949.csv', encoding='cp949',
                      skiprows=[1,6]) # 1,6번째 행 제외하고 읽어오기(시작은 1부터) 
members

  Name  Age         Email  Address       Birth
0  홍길서   30  seo@hong.com   서울시 중구  1999-12-01
1  홍길남   21  nam@hong.com  서울시 강동구  1999-11-01
2  홍길북   22  buk@hong.com  서울시 관악구  1999-05-01
3  홍길중   23  mid@hong.com   부산시 중구  1999-01-30

In [73]:
# (3) 상위 몇 행만 sep문자는 , 아닌 csv 파일 읽어오기
member = pd.read_csv('data/ch11_membersep.csv',sep='|',
                     nrows=5) # 상위 5행만
member

  Name  Age          Email  Address       Birth
0  홍길동   20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구  1999-11-01
3  홍길북   22   buk@hong.com  서울시 관악구  1999-05-01
4  홍길중   23   mid@hong.com   부산시 중구  1999-01-30

In [77]:
# (4) 주석(#)제외, datetime형 필드를 지정하여 csv 파일 앍어오기
member = pd.read_csv('data/ch11_membertab.csv',sep='\t',
                    comment='#', # 주석제거
                    parse_dates=['Birth']) # datetime64형으로 읽어올 필드 지정
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Email    5 non-null      object
 3   Address  5 non-null      object
 4   Birth    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

## 2.4 패키지에서 가져오기 : iris 데이터
- iris 가져오는 방법1 : sklearn(머신러닝 패키지)
- iris 가져오는 방법2 : statsmodels(R 데이터)
- iris 가져오는 방법3 : seaborn(시각화 패키지)
### 2.4.1 iris방법1 : sklearn
- sklearn.datasets 모듈 데이터(iris)를 데이터 프레임으로 변환

In [9]:
from sklearn import datasets # 머신러닝을 공부할 때 필요한 학습데이터셋 재공
# sklearn 패키지에서 제공되는 데이터셋은 딕셔너리 형식으로 제공
iris = datasets.load_iris()
print(type(iris)) # Bunch타입(딕셔너리를 상속받은 타입) 딕셔너리처럼 동작
# print(iris.DESCR) # iris 데이터셋의 설명
print(iris.keys())

<class 'sklearn.utils._bunch.Bunch'>
dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [10]:
iris.data # 독립변수
iris['data'][:3] # 상위 3행만

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [11]:
# 데이터프레임의 열이름(비추:특수문자는 _ 빼고는 추천안함)
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [13]:
# 데어터프레임의 열이름(강추)
[col[:-5].replace(' ',"_") for col in iris.feature_names]

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [16]:
iris.target # ML/DL 학습시 타겟변수(종속변수)
# iris['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [17]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [19]:
iris.target_names[iris.target] # 데이터프레임에 쓸 타겟변수(대체로 가장 오른쪽 열)

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype='<U10')

In [21]:
# 독립변수
data = iris.data
# 종속변수
target = iris.target_names[iris.target].reshape(-1,1)
print(data[:3],target[:3])

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]] [['setosa']
 ['setosa']
 ['setosa']]

In [22]:
print('독립변수 shape :',data.shape)
print('타겟변수 shape :',target.shape)

독립변수 shape : (150, 4)
타겟변수 shape : (150, 1)

In [32]:
# 1. 독립변수와 종속변수를 stack한 후 데이터 프레임으로
df = pd.DataFrame(np.hstack((data,target)),
              columns = iris.feature_names+['spacties'])
df.head(1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),spacties
0,5.1,3.5,1.4,0.2,setosa

In [36]:
# df.['sepal length (cm)']
df.columns = [col[:-5].replace(' ',"_") for col in iris.feature_names]+['species']
df.head(1)

  sepal_length sepal_width petal_length petal_width species
0          5.1         3.5          1.4         0.2  setosa

In [38]:
# 2. 독립변수, 종속변수를 따로 데이터프레임으로 생성 -> 두 데이터프레임을 연결
X= pd.DataFrame(iris.data,
               columns=[col[:-5].replace(' ',"_") for col in iris.feature_names])
X.head(1)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2

In [39]:
y=pd.DataFrame(iris.target_names[iris.target], columns=['species'])
y.head(1)

  species
0  setosa

In [41]:
print('X의 shape :', X.shape)
print('y의 shape :', y.shape)
print('X의 index :', X.index)
print('y의 index :', y.index)

X의 shape : (150, 4)
y의 shape : (150, 1)
X의 index : RangeIndex(start=0, stop=150, step=1)
y의 index : RangeIndex(start=0, stop=150, step=1)

In [44]:
iris_df = pd.concat([X,y], axis=1) # 두 개의 데이터프레임을 열로 연결
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB