In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch.02 자료형과 연산자</font></b>
# 1절. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 샛팅
- **파이썬의 모든 변수는 객체로 저장**

In [3]:
r=5
area = 3.14*r*r
print(f"넓이:{area}")

넓이:78.5

In [6]:
import numpy as np #numpy패키지를 np라는 이름으로 사용
# pypi.org의 여러 패키지 중 1개

np.pi

area=np.pi*r*r

print('넓이:', area)

넓이: 78.53981633974483

In [9]:
print('area의 주소', id(area))
print('area의 자료형:', type(area))

area의 주소 1967175484400
area의 자료형: <class 'float'>

In [10]:
area.is_integer() #area가 정수인지 확인하는 함수

False

In [11]:
area=10

print('area의 주소', id(area))
print('area의 자료형:', type(area))

area의 주소 1969240080912
area의 자료형: <class 'int'>

In [12]:
area="파이썬"

print('area의 주소', id(area))
print('area의 자료형:', type(area))

area의 주소 1967224465584
area의 자료형: <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 외는 불가), 숫자, _로 변수명을 작성
- 함수명은 변수명으로 가능하나 피한다.(함수명으로 변수를 사용하고 싶으면 함수명 뒤에 숫자나 _를 추가하자),꼭 사용한다면 str_식으로 사용하자
- 파이썬 예약어(for,if 등)는 변수명 사용 불가
- 한글 변수는 꼭 필요시에만 사용

In [14]:
이름 ='홍길동' #비추
print(이름)

홍길동

In [15]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [17]:
# member.name='홍길동'
member_name='홍길동'
memberName='홍길동'
print(member_name)
print(memberName)

홍길동
홍길동

In [18]:
# 숫자: 정수,실수,복소수(허수부분 i를 j로 표기)
i=1+3j # 복소수
print(type(i))

<class 'complex'>

In [19]:
isinstance(i,complex) #i 라는 변수가 complex라는 타입의 객체인지 확인

True

In [20]:
isinstance(i,int) #i라는 변수가 int타입의 객체인지?

False

## 1.3 다중 변수 선언

In [ ]:
a=10
b=20

In [21]:
a,b=10,20 # 다중 변수는 동시에 들어간다(일괄할당)
print(a,b)

10 20

In [22]:
a,b =b,a+b # 즉 a에 20이 들어가나 b에는 a+b의 a엔 아직 10의 값을 가진 채 할당된다.
print(a,b)

20 30

## 1.4 도움말

In [23]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [24]:
help() # help를 빠져나오기 :q / 결과접기/펴기 esc+o
# help는 잘 사용되지 않음

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 :shift+tab키, 함수명()에서 괄호 안에 커서를 넣고 사용
print()

In [27]:
def add(x,y=0):
#   ''' '''는 그 사이에 문자열을 여러줄 넣는 방법,여기선 함수 도움말을 넣을 때 사용
    ''' 
    매개변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x =10의 자리수가 되고
    y =1의 자리수가 됨(default의 값 0)
    '''
    
    return x*10 + y

In [ ]:
add(3, 4)

In [29]:
add(3)

30

# 2절. 화면 입출력(i/o)

In [30]:
# input():사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음
first=input()
print(first)

아무거나
아무거나

In [38]:
first_=input('첫번째 숫자는?')
second=input('두번째 숫자는?')

첫번째 숫자는?8
두번째 숫자는?2

In [39]:
print(first_, second)

8 2

In [40]:
print('두 수의 합은',first_+second)

두 수의 합은 82

In [41]:
first__=int(input('첫번째 숫자는?'))
second_=int(input('두번째 숫자는?'))

첫번째 숫자는?8
두번째 숫자는?2

In [42]:
print('두 수의 합은', first__+second_)

두 수의 합은 10

In [45]:
print('first',first__,"second",second_, sep=' - ', end='\n') #sep는 두 변수 사이에 넣을 값, end는 줄 끝에 넣을 값
print('hello','python',sep=' ')

first - 8 - second - 2
hello python

# 3절. 기본 자료형
- 자료형: 변수가 가저야 할 값의 형식. 자료형에 따라 값의 크기와 저장 방식이 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐

    - `숫자`: int, float(실수), complex(허수부 j)
    - `문자`: str("",'')
    - `논리`: bool(True, Flase)
    
## 3.1 숫자형

In [46]:
import sys 

print(sys.maxsize) #정수의 최댓값 2**63 -1(파이썬에선 **이 제곱)

9223372036854775807

In [47]:
2**63 -1

9223372036854775807

In [48]:
i=sys.maxsize +100
i

9223372036854775907

In [50]:
print(i)
print(type(i))

9223372036854775907
<class 'int'>

In [ ]:
# f=0.00000000000000000000012
f=1.2e-20 #지수형 1.2*(10의 -20 제곱)
print(f)
b=1.2e 1.2d의 10의 20승

In [52]:
# 파이썬에서는 /(나눗셈)의 결과는 무조건 실수
f=3/2
f2=4/2
print('f=',f)
print('f2=',f2)

f= 1.5
f2= 2.0

In [53]:
# java나 c,c++처럼 정수/정수 결과를 정수로
f=int(3/2) # int():int로 형변환(내림)
print('f=',f)
f=3//2 # 몫 연산자
print('f=',f)

f= 1
f= 1

## 3.2 문자형
- 겹따옴표("~") 나 홑따옴표('-') 이용

In [55]:
name="홍길동'짱'" # 홍길동'짱'
name2='홍길동\'짱\'' #가능하면 겹따옴표와 홑짜옴표를 혼용하여 쓰자 이렇게 쓰면 가독성이 떨어진다.
address='서울시 관악구 "신림"동'
print(name, name2, address)

홍길동'짱' 홍길동'짱' 서울시 관악구 "신림"동

In [58]:
# escape 문자(탈출문자): \n \t 등
text="여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 됨\n줄바꿈"
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

In [61]:
text='''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''

# 주의 '''-'''사이에 enter가 들어가면 ai사용시 토큰이 낭비될 수 있다.
# ex'''(이 부분 enter)
# 이런 방식으로
# '''(이부분도 enter로 인식해 총 2토큰 낭비)
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

### ※ 문자열 연산(+,*)

In [67]:
# ''' ''' 대신 """ """도 가능하며 여러줄 주석을 넣기 귀찮을 때 주석 대신 넣을 때도 쓰이긴 한다. 주로 작성일과 작성자를 강조하기위해 쓰인다.
'''
   여러 줄 주석 용도
   2025.09.12 문자열 연산 by 아무개
'''

name1='홍길동'
name2='동해번쩍'
print(name1+name2)
print(name1, name2) # ※주의 합연산과는 다름

홍길동동해번쩍
홍길동 동해번쩍

In [66]:
print(name1*3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도: 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [69]:
# raw데이터: 데이터 처리시 escape 문자(\n,\t, \',\")를 그대로 저장
print(r"Hello\nWorld")

Hello\nWorld

 정규표현식(regex)
 
     1. 참조: https://ko.wikipedia.org/wiki/정규_표현식
     2. 간략문법
         \d (숫자와 매치, [0-9]와 동일)
         \D (숫자가 아닌 것)
         \w (영문자나 숫자 [a-zA-Z0-9]와 동일)
         \W (영문자나 숫자가 아닌 문자)
         . (문자)
         \. (.)
         \- (-)
         {2,} (2번 이상 반복)
         {2,4} (2~4회 반복)
         ? (0번이나 1번 의미)
         + (1번 이상 반복)
         * (0번 이상 반복)
         (a)|(b): a or(또는) b
    3.정규표현식 연습장: https://regexr.com/
        ex1. 전화번호: 02 888 7777 / 028887777 / 010-999-9999 / 010.9999.9999
                      02)8887777   
                      => 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
        ex2.이메일: abc12@naver.com / abc@sns.co.kr
                      => \w+@\w+(\.\w+){1,2}
        ex3.주민번호: 981212-1052525
                      => \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])-([0-4])\d{6}
                      
     4.소스 구현

In [3]:
import re
data="이름:홍길동, 주소:서울, 전화:02-888-8888,\
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888,핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [21]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도로 raw데이터 처리를 사용
tel_pattern= r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
# 해당 패턴을 다 찾아줌. 없으면 빈 list
tels=re.findall(tel_pattern, data)
tels

['02-888-8888', '010-9999-9999']

In [80]:
email_pattern=r"\w+@\w+(\.\w+){1,2}"
emails=re.findall(email_pattern,data)
emails

[]

In [8]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
first_tel=re.search(tel_pattern,data)
first_tel

In [9]:
print(data[18:29]) #문자열 슬라이싱
print(first_tel.group(0))

02-888-8888
02-888-8888

In [24]:
tel_pattern = r"(\d{3,4})-(\d{3,4})-(\d{4})"

first_phone = re.search(tel_pattern,data)
print(first_phone)

<re.Match object; span=(34, 47), match='010-9999-9999'>

In [25]:
print('전체전화번호 :',first_phone.group(0))
print('국번:',first_phone.group(1))
print("중간번호:",first_phone.group(2))
print('끝번호:',first_phone.group(3))

전체전화번호 : 010-9999-9999
국번: 010
중간번호: 9999
끝번호: 9999

In [27]:
# data에서 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]",'', data)

'이름홍길동 주소서울 전화028888888핸드폰01099999999 특징동해번쩍 서해번쩍혈액형B '

In [4]:
# data에서 전화번호 없이기
tel_pattern= r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern,' ',data)

'이름:홍길동, 주소:서울, 전화: ,핸드폰: , 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz'

In [10]:
# 파일 경로
# file_path="C:\\ai\\source\\01_python\\data\\cho2.txt"
# file_path="C:/ai/source/01_python/data/cho2.txt"
file_path=r"C:\ai\source\01_python\data\ch02.txt"

In [11]:
# 파일 입력("w")
file_steam=open(file_path,"w")
print('Hello, Python.', "Hello world", sep="\n")
print('Hello, Python.', "Hello world", sep="\n",file=file_steam) # 파일 출력
file_steam.close() # close하지 않으면 저장 안 됨

Hello, Python.
Hello world

### ※ 문자열 인덱싱

In [12]:
str_='0123456789'
str_

'0123456789'

In [17]:
str_[0], str_[2], str_[-1], str_[-3] #음수인덱싱은 맨 마지막이 -1

('0', '2', '9', '7')

In [18]:
str_[10] # 없는 인덱싱은 에러

IndexError: string index out of range

### ※문자열 슬라이싱

In [21]:
'''
문자열변수[from:to]  : from~(to-1)까지 추출
문자열변수[from:to,step] : from~(to-1)까지 step씩 전진하면서 추출
    from 생략시 처음부터
    to 생략시 끝까지
    step생략시 1
'''
str_[0:3], str_[:3] #from 생략시 처음부터

('012', '012')

In [23]:
str_[5:10], str_[5:] #to 생략시 끝까지

('56789', '56789')

In [ ]:
str_[-5:-1],str_[-5:] # ※ 주의  to가 -1이면 끝까지 추출하지 않음

In [19]:
str_[2:6]

'2345'

In [20]:
str_[0:10:2]

'02468'

In [24]:
str_[9:0:-1] #반전되서 출력하려면 stop를 -로

'987654321'

In [29]:
#  quize: 마지막글씨부터 처음 글씨까지 거꾸로 출력
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True/False)

In [32]:
a=10>5
print(a)
print(type(a))
print(isinstance(a,bool))

True
<class 'bool'>
True

In [34]:
int(True), int(False)

(1, 0)

In [40]:
bool(-1000), bool(0), bool(""), bool(" "), bool("홍길동")

(True, False, False, True, True)

In [ ]:
#  False로 간주되는 것: 0, ""(빈 스트링), [](빈 리스트), ()-빈 튜플, {}(빈 딕셔너리), None
#  False로 판별되는 경우를 제외하고는 모두 True

In [47]:
if None:
    print("True")
else:
    print("False")

False

In [51]:
name=input("이름은?")
if name:
    print("당신 이름은", name)
else:
    print("이름을 입력 안 하셨군요")

이름은?
이름을 입력 안 하셨군요

### 3.4 자료형 확인 및 형변환 함수
- type()
- isinstance(변수,타입) : 변수가 헤당 타입인지 여부
- float() : 실수형으로 변환
- int() : 정수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [57]:
float(4), float('4.1'), int(4.1), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [63]:
# 에러나는 경우들
# [int(''), int(' '),int(None), int("9,000")]-float도 포함, int('123.4')

# 4절. 포맷팅
- 포맷팅이란 출력할 문자,숫자, 날짜 데이터의 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [67]:
name="홍길동"
age=30
print(name+'님의 나이는 '+ str(age) + "살입니다")
print(name,'님의 나이는 ',age,'살입니다',sep="")

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [72]:
# %s: 문자, %d : 10진수, %ㄹ: %f : 실수
print('%s님의 나이는 %d살입니다.'%(name,age))
print(f"{name:>5s}님의 나이는 {age}살입니다")

홍길동님의 나이는 30살입니다.
  홍길동님의 나이는 30살입니다

In [71]:
print("{}님의 나이는 {}살 입니다".format(name,age))
print("{0}님의 나이는 {1}살 입니다".format(name,age))
print("{1}님의 나이는 {0}살 입니다".format(age,name))

홍길동님의 나이는 30살 입니다
홍길동님의 나이는 30살 입니다
홍길동님의 나이는 30살 입니다

## 4.2 format()문법
- '{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}'.format(변수명)
    
    * 인덱스 :foramt 함수안의 매게변수 순서
    * 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데 정렬)
    * 정수자릿수 : 출력할 자릿수, 출력할 자릿수 보다 작으면 무시됨
    * 실수자릿수 : 전체출력될자릿수, 변수중에 출력할 자릿수 ex)10.2
    * 타입 : d(10진수),o(8진수), x(16진수),2(2진수),f(실수),s(문자)
    * 공백대체문자는 정렬방식을 명시하여 함

In [79]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자릿수를 지정하면 자릿수 무시되고 다 출력

a = 12345
s = 'Hello'

print("[{0}] [{0:10}] [{0:3}]".format(a))
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [82]:
# 정렬방식:<, ^, >
a, b, c = 10, 20, 3
print("[{:<4}] [{:^4}] [{:>4}]".format(a, b, c) )

[10  ] [ 20 ] [   3]

In [92]:
# 실수 자릿수 ex)10.2f:전체 10자리 소숫점2자리/ 6.2 : 전체 6자리 중 2자리 출력
a=10
f=12.5
s="Hello"
# print("[{:$10}]".format(a)) 
print("[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]".format(a, f, s)) #소숫점도 자릿수에 포함된다.
# 공백대체문자를 쓸 경우 정렬방식을 표현할 것 정렬을 하지 않으면 error

[$10.00] [ 12.50] [____He]

In [95]:
# 자릿수 앞에 +를 붙이면 양수의 경우도 부호출력
# 부호나 소숫점도 자릿수에 포함
a,b =123, -123
print("[{:+10}], [{:+10}], [{:10}] ".format(a, b, a))
print("[{:=10}], [{:=10}], [{:10}] ".format(a, b, a))
print("[{:=+10}], [{:=10}], [{:10}] ".format(a, b, a))

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [       123]

In [100]:
#  10진수, 8진수, 16진수, 2진수
a=15
print("10진수 [{:4d}]".format(a))
print("8 진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2 진수 [{:4b}]".format(a))

10진수 [  15]
8 진수 [  17]
16진수 [   f]
2 진수 [1111]

In [111]:
a=2.785
sign = "+"
width=10
precision=4
print("[{:{}{}.{}}]".format(a, sign, width,precision))
print("[{:{sign}{width}.{precision}}]".format(a, sign=sign, width=width, precision=precision))

[    +2.785]
[    +2.785]

## 4.3 날짜 출력

In [117]:
# import datetime #datetime 모듈(파이썬 프로그램 파일 datetime.py) 전체를 메모리 load
from datetime import datetime # datetime 모듈안의 datetime 만 메모리 load
thatday1 = datetime(2025, 9, 11) #25년 9월 11일 0시 0분 0초
thatday2 = datetime(2025, 9 ,11, 14, 30, 0)
print(thatday1, thatday2)
# datetime.__file__

2025-09-11 00:00:00 2025-09-11 14:30:00

In [127]:
# Y(년도 4자리) y(년도2자리) m(월) d(일) p(am/pm) I(12시간) H(24시간) M(분) S(초)
print("{:%Y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%Y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

2025년 09월 11일 00시 00분 00초
2025년 09월 11일 PM 02시 30분 00초

In [126]:
thatday1.strftime("%Y년 %m월 %d일 %H시 %M분 %S초")

'2025년 09월 11일 00시 00분 00초'

In [128]:
thatday2.strftime("%Y년 %m월 %d일 %p %I시 %M분 %S초")

'2025년 09월 11일 PM 02시 30분 00초'

In [135]:
# 현재의 날짜와 시간
now = datetime.now()
# datetime.today()
now-thatday1

datetime.timedelta(days=4, seconds=53735, microseconds=933846)

In [137]:
# 지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

2025-09-15 PM 02:55
2025-09-15 PM 02:55

In [138]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-09-15 PM 02:59'